{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<div class="mainContent innerPages">
	
	
		<div class="longContainer" >
			
			<div class="pageBanner">
				
				<img src="{% static 'img/aboutBanner.jpg' %}" alt="" title="" >
				<img class="imgLF" src="{% static 'img/aboutBannerSm.jpg' %}" alt="" title="">
				<img class="imgLS" src="{% static 'img/aboutBanner.jpg' %}" alt="" title="">
				<article>
					<div>
						<h2>LET'S <span class="colorPrimary">CREATE</span></h2>
					</div>
					<div>
						<h2>HISTORY TOGETHER</h2>
					</div>
					<br>
					<small>Pass over the baton of your work and we will turn it a reality with excellence and perseverance.</small>
				</article>
				
			</div>
			
		</div>

		
		<div class="fullStrip nopaddingTop" >
			<div class="container">
				<article class="aboutArticle">
					<div class="row">
						<div class="col-lg-6 col-md-12 articleBody bgGray">
						
							<p class="firstxl">
								
The journey of Spericorn embarked from the vision of a young man to make a signature in the world of technology. Over the years, the dream turned out to be a reality with the support and trust of a wide spectrum of clients around the globe. Today, being one of the pioneers in delivering the web and mobile solutions, we are committed to developing top quality solutions with the personalized approach and cutting-edge tech frameworks. Spericorn stands parkland of innovation and expertise, utilizing strategic approaches to deliver right fit technological solutions. With regional units in the major cities around the world, we make it possible to revolutionize your business and to uplift it into the next level. The zillions of hours spent on quality projects since its inception have imparted Spericorn the potential to innovate and dedicate itself to turn even the impossible into possible.
							</p>
							
							<a class="largeLink" href="javascript:void(0)">Join hands with us for a digital transformation.</a>
							
							<br>
							<br>
							<br>
							<br>
							
							
							<h3><span>WHY</span> SPERICORN ?</h3>
							
							<p>
								The spark of creativity and thirst for brilliant solutions has empowered the innovative employees to raise the magical wand of grit to turn even the impossible tasks into possible projects. The dedication and endurance showcased to overcome difficult hurdles are beyond comparison and the undertakings reflect the superior quality in all perspectives. Adaptability has empowered us to deal with the time-to-time demands arising that may have to be dealt during a project. Along with these, our domain expertise, unique culture, and technical excellence help businesses thrive and be future-ready.
							</p>
							
							
							<br>
							<br>
							
							
							<h3><span>OUR</span> TALENTS</h3>
							
							<p>
								True to the words 'Fresh as a daisy', Spericorn is a huge bunch of young professionals instilled with confidence and determination to the brim. We maintain individual teams on each of the technologies undertaken with dedicated talents focusing to formulate unparalleled feel over the web as well as mobile platforms and services.  Each client project is handled by the corresponding tech-specialist team, each of which is guided by great talents in the respective fields.  
							</p>
							

							
						</div>
						<div class="col-lg-6 col-md-12 articleBody">
							
							<div class="largeCaptionCon">
								<p class="largeCaption">
									Zone of Technology is more than a caption for Spericorn. It stands a symbol of our exceptional ventures undertaken in the journey to excellence with passion and persistence. 
								</p>
							</div>
							
							<br>
							<br>
							<br>
							
							<h3><span>OUR</span> PERSPECTIVE</h3>
							
							<p>
								We are committed to serving clients with customized and effective business solutions to achieve their business goals through technology innovation. Out of box ideas blended with professional innovation is the proud driving force, which led us to success and growth in the tech industry. Client satisfaction is our greatest inspiration and has always strived to continue the practice of dedication and excellence in the sector. We emphasize to provide unique solutions and quality projects on the various aspects of technology and design. Enterprises related to solving complex business hurdles associated with web development and web designing are successfully undertaken with an uncompromising standard.
							</p>
							
							<br>
							<br>

						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 ">
							
							<br>
							<br>
							
							<h3><span>KEY</span> PEOPLE</h3>
							
							<p>
								“Innovation meets expertise” is the motto of Spericorn, which is absolutely true about our core members. All the successful undertakings by our company are led by the best brains in the region with determination and hard work. The passion they put forward on each project is incomparable. Every successful delivery from Spericorn reflects the innovative ideas our key people undertook. Let’s take an individual look at each of them.
							</p>
							

							
						</div>
					</div>
					
					<div class="row aboutPeopleCon">
					
						
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img class="imgLF"  src="{% static 'img/aboutPeople1-sm.jpg' %}" alt="" title="">
								<img class="imgLS"  src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">

								<div class="aboutDetails">
									<h3>AMITH S NAIR</h3>
									<p>DIRECTOR</p>
								</div>
							</figure>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img class="imgLF"  src="{% static 'img/aboutPeople1-sm.jpg' %}" alt="" title="">
								<img class="imgLS"  src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">
								<div class="aboutDetails">
									<h3>JEROME PADILLA</h3>
									<p>PRESIDENT, USA</p>
								</div>
							</figure>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img class="imgLF"  src="{% static 'img/aboutPeople1-sm.jpg' %}" alt="" title="">
								<img class="imgLS"  src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">

								<div class="aboutDetails">
									<h3>MERLIN MERY GEORGE</h3>
									<p>CHIEF TECHNICAL OFFICER</p>
								</div>
							</figure>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img class="imgLF"  src="{% static 'img/aboutPeople1-sm.jpg' %}" alt="" title="">
								<img class="imgLS"  src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">
								<div class="aboutDetails">
									<h3>QUILO SOMAN</h3>
									<p>VICE PRESIDENT</p>
								</div>
							</figure>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img class="imgLF"  src="{% static 'img/aboutPeople1-sm.jpg' %}" alt="" title="">
								<img class="imgLS"  src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">
								<div class="aboutDetails">
									<h3>SAMAR M RENNO</h3>
									<p>PRESIDENT, UAE</p>
								</div>
							</figure>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img class="imgLF"  src="{% static 'img/aboutPeople1-sm.jpg' %}" alt="" title="">
								<img class="imgLS"  src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">
								<div class="aboutDetails">
									<h3>SHAN SHARIEF</h3>
									<p>HEAD OF HUMAN RESOURCE</p>
								</div>
							</figure>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">
								<div class="aboutDetails">
									<h3>JOSHYMON M C</h3>
									<p>HEAD OF WEB DEVELOPMENT</p>
								</div>
							</figure>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<figure class="aboutPeople">
								<img class="imgLF"  src="{% static 'img/aboutPeople1-sm.jpg' %}" alt="" title="">
								<img class="imgLS"  src="{% static 'img/aboutPeople1.jpg' %}" alt="" title="">
								<div class="aboutDetails">
									<h3>ARUN S</h3>
									<p>HEAD OF MOBILE DEVELOPMENT</p>
								</div>
							</figure>
						</div>
						
					</div>
					
				</article>
				
			</div>
		</div>

	
		
		


		{% include 'newsLetter.html' %}

		
		
		
		
	</div>
	
{% endblock %}



















