{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="mainContent innerPages ">

    <div class="container noPadding relativeCon conShadowLH">
        <div class="mapCon" id="navbar">

            <img class="imgLF" src="{% static 'img/worldMap-sm.jpg' %}" alt="" title="">
            <img class="imgLS" src="{% static 'img/worldMap.jpg' %}" alt="" title="">


        </div>
        <a class="goToRound">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
    </div>


    <div class="fullStrip">

        <div class="container contentsCon noPaddingTop conShadowLH">


            <div class="row contactList">
                <div class="col-lg-12 noPadding">
                    <ul class="row">
                        <li class="col-lg-6 col-xs-12 ">
                            <a>
                                <h3>India</h3>
                                <p>
                                    Amstor House, Technopark Campus<br>
                                    Kazhakuttom, Trivandrum<br>
                                    Kerala, India, Pin - 695581
                                </p>
                                <p class="hasPreIcon">
                                    <span class="iconMail colorPrimary"><i class="fa fa-envelope-o"
                                                                           aria-hidden="true"></i></span>
                                    info@spericorn.com
                                </p>
                                <p class="hasPreIcon iconPhone">
                                    <span class="iconMail colorPrimary"><i class="fa fa-phone"
                                                                           aria-hidden="true"></i></span>
                                    0471 4013112
                                </p>
                                <div class="contactListCount">
                                    <div class="countBubble">
                                        01
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-6 col-xs-12 ">
                            <a>
                                <h3>USA</h3>
                                <p>
                                    5305 Arbustos CT NE <br>
                                    Albuquerque <br>
                                    New Mexico 87111, USA
                                </p>
                                <p class="hasPreIcon">
                                    <span class="iconMail colorPrimary"><i class="fa fa-envelope-o"
                                                                           aria-hidden="true"></i></span>
                                    info@spericorn.com
                                </p>
                                <p class="hasPreIcon iconPhone">
                                    <span class="iconMail colorPrimary"><i class="fa fa-phone"
                                                                           aria-hidden="true"></i></span>
                                    +15057156561
                                </p>
                                <div class="contactListCount">
                                    <div class="countBubble">
                                        02
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="col-lg-6 col-xs-12 ">
                            <a>
                                <h3>USA Office 2</h3>
                                <p>
                                    Spericorn Technology Inc.<br>
                                    19 Holly Cove Ln.<br>
                                    City of Dover<br>
                                    County of Kent<br>
                                    Delaware 19901, USA
                                </p>

                                <p class="hasPreIcon">
                                    <span class="iconMail colorPrimary"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                    info@spericorn.com
                                </p>

                                <div class="contactListCount">
                                    <div class="countBubble">
                                        03
                                    </div>
                                </div>
                            </a>
                        </li> -->
                        <li class="col-lg-6 col-xs-12 ">
                            <a>
                                <h3>UAE</h3>
                                <p>
                                    Spericorn Technology<br>
                                    M/s Renno Communications Group FZ-LLC<br>
                                    Media City<br>
                                    <!--Sheikh Zayed Rd-->
                                    Dubai, UAE
                                </p>
                                <p class="hasPreIcon">
                                    <span class="iconMail colorPrimary"><i class="fa fa-envelope-o"
                                                                           aria-hidden="true"></i></span>
                                    info@spericorn.com
                                </p>

                                <div class="contactListCount">
                                    <div class="countBubble">
                                        03
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>


            <article id="sectionForm">
                <h2>
                    <span>DROP</span> US A LINE
                </h2>
            </article>


            <form id="formContactform" class="contactForm spForm drop-line-form">


                {% csrf_token %}


                <div class="contact-form-cover" id="contact-form-cover">
                    <div class="row">


                        <div class="col-lg-12">

                            <div class="success-message" style="display: none;">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6"
                                            stroke-miterlimit="10"
                                            cx="65.1" cy="65.1" r="62.1"/>
                                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                                              stroke-linecap="round" stroke-miterlimit="10"
                                              points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                </svg>

                                <p>Your message has been sent successfully</p>
                            </div>

                        </div>


                        <div class="col-lg-6 col-sm-12">

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email_id" placeholder="Email Id">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="phone_number" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">


                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="6"
                                          placeholder="Message"></textarea>
                            </div>

                            <button type="button" id="mailContactform" class="btn btn-orange">SUBMIT</button>
                            <button type="reset" class="resetFormButton resetFormButton btn btn-orange">CANCEL</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>


        {% include 'footerQuote.html' %}

    </div>


</div>


{% endblock %}