<div class="container conShadowLH bottomQuote postLoad">
				<div>
					<h4>We would love to hear from you!</h4>
					<p>Let's discuss and work together to bring out the best results</p>
					
					<button class="btn" data-toggle="modal" data-target="#modalQuotes">Get in touch</button>
				</div>
			</div>