{% load static %}
{% load static compress %}
<footer class="mainFooter postLoad">
    <div class="footerContents">
        <div class="container">
            <div class="fLogo"><img src="{% static 'img/logo-gs.jpg' %}" alt="" title=""></div>
            <div class="fSocials"><a href="https://twitter.com/spericorn" class="socialIcon"><i class="fa fa-twitter"
                                                                                                aria-hidden="true"></i></a><a
                    href="https://www.instagram.com/spericorntechnology/" class="socialIcon"><i class="fa fa-instagram"
                                                                                                aria-hidden="true"></i></a><a
                    href="https://in.pinterest.com/spericorntechnology/" class="socialIcon"><i class="fa fa-pinterest-p"
                                                                                               aria-hidden="true"></i></a><a
                    href="https://www.facebook.com/spericorntechnology/" class="socialIcon"><i class="fa fa-facebook"
                                                                                               aria-hidden="true"></i></a><a
                    href="https://in.linkedin.com/company/spericorn-technology-pvt-ltd" class="socialIcon"><i
                    class="fa fa-linkedin" aria-hidden="true"></i></a></div>
            <div class="fNav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'technologies' %}">Technologies</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact US</a></li>
                </ul>
            </div>
            <div class="fLinks"><a href="{% url 'web_app_develop' %}">Web App Development</a><a
                    href="{% url 'mobile_app_develop' %}">Mobile App Development</a><a href="{% url 'android' %}">Android
                App</a></div>
        </div>
    </div>
    <div class="copyright"><p>Copyright© 2017 Spericorn Technology Pvt. Ltd. All Rights Reserved</p></div>
</footer>
<div class="modal fade" id="modalQuotes" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="GetQuoteForm" class="contactForm spForm">
                {% csrf_token %}
                <div class="modal-header"><h5 class="modal-title">Get a Free Quote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">


                            <div class="success-message" id="success-messages">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6"
                                            stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                                              stroke-linecap="round" stroke-miterlimit="10"
                                              points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                </svg>

                                <h2>Awesome!</h2>
                                <p>Your message has been sent successfully</p>
                            </div>


                            <div class="form-field-cover">
                                <div class="form-group"><input type="text" class="form-control" name="name"
                                                               placeholder="Your Name"></div>
                                <div class="form-group"><input type="email" class="form-control" name="email_id"
                                                               placeholder="Email Id"></div>

                                <div class="form-group"><input type="text" class="form-control" name="phone_number"
                                                               placeholder="Phone"></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5"
                                                                  placeholder="Message"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="submitQuoteForm" class="btn btn-orange">SUBMIT</button>
                    <button type="reset" class="resetFormButton btn btn-orange" data-dismiss="modal" aria-label="Close">
                        CANCEL
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalHire" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="formHireDeveloperForm" class="contactForm spForm" method="post">
                {% csrf_token %}
                <div class="modal-header"><h5 class="modal-title">Hire a Developer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">


                            <div class="success-message" id="success-message">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6"
                                            stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                                              stroke-linecap="round" stroke-miterlimit="10"
                                              points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                </svg>

                                <h2>Awesome!</h2>
                                <p>Your message has been sent successfully</p>
                            </div>


                            <div class="form-field-cover">


                                <div class="form-group"><input type="text" class="form-control" name="user_name"
                                                               placeholder="Your Name"></div>
                                <div class="form-group"><input type="email" class="form-control" name="email"
                                                               placeholder="Email Id"></div>

                                <div class="form-group"><input type="text" class="form-control" name="phone_number"
                                                               placeholder="Phone"></div>
                                <div class="form-group"><textarea class="form-control" name="message" rows="5"
                                                                  placeholder="Message"></textarea></div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="submitHireForm" class="btn btn-orange">SUBMIT</button>
                    <button type="reset" class="resetFormButton btn btn-orange" data-dismiss="modal" aria-label="Close">
                        CANCEL
                    </button>
                </div>
            </form>
        </div>
    </div>
</div><!-- Bootstrap core JavaScript==================================================-->
{% compress js %}
<script src="{% static 'js/jQuery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
{% endcompress %}
<div id="fb-root"></div>
{% compress js %}
<script src="{% static 'js/viewportchecker.js' %}"></script>
<script src="{% static 'js/site.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endcompress %}
<script>$(window).on("load", function (e){
$('.imgLF').addClass('hideSm');$('.imgLS').addClass('showLg');});$(document).ready(function(){jQuery('.postLoad').addClass("hidden").viewportChecker({classToAdd: 'visible animated fadeInUp', 
offset: 100});})
$(document).on("click",".get-quote",function(){
    $($(this).attr("data-target")).find(".form-control").val("");
    $($(this).attr("data-target")).find(".form-control").removeClass("form-error-indication");
    $($(this).attr("data-target")).find(".form-error-info").remove();
    $($(this).attr("data-target")).modal("show");
});
$(document).on("click",".hire-quote",function(){
    $($(this).attr("data-target")).find(".form-control").val("");
    $($(this).attr("data-target")).find(".form-control").removeClass("form-error-indication");
    $($(this).attr("data-target")).find(".form-error-info").remove();
    $($(this).attr("data-target")).modal("show");
});


</script>

</body></html>