
	
	
	<footer class="mainFooter postLoad">
		<div class="footerContents">
			<div class="container">
				<div class="fLogo">
					<img src="img/logo-gs.jpg" alt="" title="" >
				</div>
				<div class="fSocials">
					<a href="https://twitter.com/spericorn" class="socialIcon">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
					<a href="https://www.instagram.com/spericorntechnology/" class="socialIcon">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
					<a href="https://in.pinterest.com/spericorntechnology/" class="socialIcon">
						<i class="fa fa-pinterest-p" aria-hidden="true"></i>
					</a>
					<a href="https://www.facebook.com/spericorntechnology/" class="socialIcon">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					<a href="https://in.linkedin.com/company/spericorn-technology-pvt-ltd" class="socialIcon">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</a>
				</div>
				<div class="fNav">
					<ul>
						<li><a href="index.php">Home</a></li>
						<li><a href="about.php">About Us</a></li>
						<li><a href="services.php">Services</a></li>
						<li><a href="technology.php">Technologies</a></li>
						<li><a href="javascript:void(0)">Blog</a></li>
						<li><a href="contact.php">Contact US</a></li>
					</ul>
				</div>
				<div class="fLinks">
					<a href="serviceWebAppDevelopment.php">Website Development</a>
					<a href="serviceMobileAppDevelopment.php">Mobile App Development</a>
					<a href="technologyAndroid.php">Android App</a>

				</div>
			</div>
		</div>
		<div class="copyright">
			<p>Copyright© 2017 Spericorn Technology Pvt. Ltd. All Rights Reserved</p>
		</div>
	</footer>
	
	
	
	<!-- Modal Quote >> -->
	<div class="modal fade" id="modalQuotes" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form id="formGetQuote" class="contactForm spForm">
				<div class="modal-header">
					<h5 class="modal-title">Get a Free Quote</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<input type="text" class="form-control" name="nameQuote" placeholder="Your Name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" name="emailQuote" placeholder="Email Id">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="companyQuote" placeholder="Company">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="phoneQuote" placeholder="Phone">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="messageQuote" rows="5" placeholder="Message"></textarea>
							</div>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" id="submitQuote" class="btn btn-orange">SUBMIT</button>
					<button type="reset" class="resetFormButton btn btn-orange" data-dismiss="modal" aria-label="Close">CANCEL</button>
				</div>
			</form>
		</div>
	  </div>
	</div>
	
	
	
	<!-- Modal Hire >> -->
	<div class="modal fade" id="modalHire" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		
		
			<form id="formHireDeveloper"  class="contactForm spForm" method="post">
				<div class="modal-header">
					<h5 class="modal-title">Hire a Developer</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<input type="text" class="form-control" name="nameHire" placeholder="Your Name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" name="emailHire" placeholder="Email Id">
							</div>
							<div class="form-group">
								<select class="form-control" name="domainHire">
									<option>Select Domain</option>
									<option>UI/UX</option>
									<option>PHP</option>
									<option>Python</option>
									<option>Android</option>
								</select>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="phoneHire" placeholder="Phone">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="messageHire" rows="5" placeholder="Message"></textarea>
							</div>
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" id="submitHire" class="btn btn-orange">SUBMIT</button>
					<button type="reset" class="resetFormButton btn btn-orange" data-dismiss="modal" aria-label="Close">CANCEL</button>
				</div>
			</form>
		</div>
	  </div>
	</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jQuery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>

	<div id="fb-root"></div>



	<script src="js/site.min.js"></script>
	

	<script>
		$(window).on("load", function (e) {
			
			//$('.spinnerCon').remove();
			//$('body').removeClass('loading');
			$('.imgLF').addClass('hideSm');
			$('.imgLS').addClass('showLg');
			
		});
		
		$(document).ready(function(){
			jQuery('.postLoad').addClass("hidden").viewportChecker({
			classToAdd: 'visible animated fadeInUp', // Class to add to the elements when they are visible
			offset: 100    
		   });
		})
	</script>
		
	
	</body>
</html>