<!DOCTYPE html>
{% load static %}
{% load static compress %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="{% block meta_keywords %} {% endblock %}">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Spericorn Technology</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sintony:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
		<!-- CSS -->
			{% compress css %}
			<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
			<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
			<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
			{% endcompress %}
			<link href="{% static 'css/layout.min.css' %}" rel="stylesheet">
			<link href="{% static 'css/custom.css' %}" rel="stylesheet">

	</head>
	<body>
	<div id="mySidenav" class="sidenav showfor1023">
		<a href="javascript:void(0)" class="closebtn" >&times;</a>
	</div>
	<div id="mySidenavBg">
	</div>
	<header class="sHeader">
		<div class="sHeaderInner navbar navbar-expand-lg">
			<a class="navbar-brand" href="{% url 'home' %}" >
				<img src="{% static 'img/logo.png' %}" alt="Spericorn Technology Pvt Ltd" title="Spericorn Technology Pvt Ltd" >
			</a>
			<a class="sidenavToggle">
				<span class="navbar-toggler-icon">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</span>
			</a>
			<nav class="collapse navbar-collapse navbar-right" id="navbarDefault">
				<ul class="nav navbar-nav mr-auto"></ul> <!-- Add this one -->
				<ul class="nav navbar-nav mainNav">

				  <li class="nav-item hasBorderHov">
					<a class="nav-link" href="{% url 'home' %}">HOME <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item hasBorderHov">
					<a class="nav-link" href="{% url 'about_us' %}">ABOUT US</a>
				  </li>

				  <li class="hideFor992 nav-item hasBorderHov dropdown">
					<span class="droparrow hideFor992"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
					<a href="{% url 'services' %}" class="nav-link">SERVICES</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'web_app_develop' %}">Web App Development</a></li>
						<li><a href="{% url 'mobile_app_develop' %}">Mobile App Development</a></li>
						<li><a href="{% url 'digital_marketing' %}">Digital Marketing</a></li>
						<li><a href="{% url 'customer_support' %}">24/7 Customer Support</a></li>
						<li><a href="{% url 'staff_augmentation' %}">Staff Augmentation</a></li>
					</ul>
				  </li>
				  <li class="showFor992 nav-item hasBorderHov">
					<a class="nav-link" href="{% url 'services' %}">SERVICES</a>
				  </li>

				  <li class="hideFor992 nav-item hasBorderHov dropdown">
					<span class="droparrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
					<a class="nav-link" href="{% url 'technologies' %}">TECHNOLOGIES</a>
					<ul class="dropdown-menu twoSideDropdown TopPd">
					<li class="row">

						<ul class="col-sm-6">
							<li><a href="{% url 'coldfusion' %}">ColdFusion</a></li>
							<li><a href="{% url 'django' %}">Django</a></li>
							<li><a href="{% url 'node_js' %}">Node JS</a></li>
							<li><a href="{% url 'ruby_on_rails' %}">Ruby on Rails</a></li>
							<li><a href="{% url 'laravel' %}">Laravel</a></li>
							<li><a href="{% url 'react_js' %}">React JS</a></li>
							<li><a href="{% url 'android' %}">Android</a></li>
							<li><a href="{% url 'iOS' %}">iOS</a></li>
						</ul>
						<ul class="col-sm-6">
							<li><a href="{% url 'angular_js' %}">Angular JS</a></li>
							<li><a href="{% url 'php' %}">PHP</a></li>
							<li><a href="{% url 'python' %}">Python</a></li>
							<li><a href="{% url 'wordpress' %}">Wordpress</a></li>
							<li><a href="{% url 'sass' %}">SASS</a></li>
							<li><a href="{% url 'java' %}">Java</a></li>
							<li><a href="{% url 'ionic' %}">ionic</a></li>
						</ul>
					</li>
					</ul>
				  </li>
				  <li class="showFor992 nav-item hasBorderHov">
					<a class="nav-link" href="{% url 'technologies' %}">TECHNOLOGIES</a>
				  </li>
				  <!--<li class="nav-item hasBorderHov">
					<a class="nav-link" href="#">BLOG</a>
				  </li>-->
				  <li class="nav-item hasBorderHov">
					<a class="nav-link" href="{% url 'contact_us' %}">CONTACT US</a>
				  </li>
				  <li class="nav-item nav-itemBtn">
					<a class="nav-link btn btn-orange-bg get-quote" href="javascript:void(0)" data-toggle="" data-target="#modalQuotes"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>GET A QUOTE</a>
				  </li>
				  <li class="nav-item nav-itemBtn">
					<a class="nav-link btn btn-orange-border colorPrimary hire-quote" href="javascript:void(0)" data-toggle="" data-target="#modalHire"><span><i class="fa fa-user-circle" aria-hidden="true"></i></span>HIRE A DEVELOPER</a>
				  </li>
				</ul>
			</nav>
		</div>
	</header>