		<div class="homeMainSlider sliderbg1" >
			<?php include 'testBrowser.php';?>
			<div class="sliderText">
				<div class="owl-carousel sliderText-carousel">
					<div class="item">
						<h1>We lead <span class="colorPrimary">digital</span></h1>
						<h1>Transformations</h1>
					</div>
					<div class="item">
						<h1>We <span class="colorPrimary">deliver</span></h1>
						<h1>The best results</h1>
					</div>
					<div class="item">
						<h1>We <span class="colorPrimary">create</span></h1>
						<h1>Unique solutions</h1>
					</div>
				</div>
			</div>
				
			<?php
				$currentBrowser = getBrowser();
				if( $currentBrowser == 'Chrome'):
			?>
				
				<div id="background" class="mouse-bg hideFor1099"></div>
				<div id="foreground" class="mouse-bg hideFor1099"></div>
				<div id="fore-foreground"  class="mouse-bg hideFor1099"></div>
				<div id="fore-fore-foreground"  class="mouse-bg hideFor1099"></div>
			
			<?php else : ?>
			
				<div class="staticBgHomeSlider hideFor1099"></div>
			
			<?php endif; ?>
		</div>		
