		<div class="homeMainSlider sliderbg1" >
			<div class="sliderText">
				<div class="owl-carousel sliderText-carousel">
					<div class="item">
						<h1>We lead <span class="colorPrimary">digital</span></h1>
						<h1>Transformations</h1>
					</div>
					<div class="item">
						<h1>We <span class="colorPrimary">deliver</span></h1>
						<h1>The best results</h1>
					</div>
					<div class="item">
						<h1>We <span class="colorPrimary">create</span></h1>
						<h1>Unique solutions</h1>
					</div>
				</div>
			</div>
				
			<div class="staticBgHomeSliderSmall">
				
			</div>
		</div>		
		