<!--<?php include 'header.php';?>-->
{% extends 'base.html' %}
{% load static %}
{% block meta_keywords %}Best IT company in India, Best IT company in Technopark, Best Software Company in India, Best Software Company in Technopark, Best Web designers in India, Best Web designers in Technopark, ColdFusion development, ColdFusion development companies in India, ColdFusion development companies in Kerala, ColdFusion development company, ColdFusion development company USA, Django Developers, IOS Developers, Java Developers, Laravel Developers, Offshore company, Offshore developers, Outsourcing company, Python Developers, Remote Developers, Remote works, Ruby on Rails Developers, Technology Company, Top Developers, WordPress Developers, Android Developers, ColdFusion Developer India, ColdFusion Services India, ColdFusion outsourcing, ColdFusion web development, certified ColdFusion developers, ColdFusion applications, ColdFusion e-commerce solutions, ColdFusion content management systems, ionic app development, ionic development, phonegap apps development
{% endblock %}
{% block content %}
	<div class="mainContent">
		<div class="homeMainSlider" >
			<img class="imgLF" src="{% static 'img/hsmSm.jpg' %}" alt="" title="">
			<img class="imgLS" src="{% static 'img/hsm.jpg' %}" alt="" title="">
			<div class="sliderText">
				<h1>Global leader of</h1>
				<h1><span class="colorPrimary">innovative technology</span></h1>
				<p>Spericorn is a global digital technology service provider with innovative solutions and unique services. We implement the futuristic technologies to promote the digitization revolution.</p>
			</div>
		</div>
		<div class="servicesStrip postLoad" >
			<div class="container goFluid992">
				<ul>

					<li class="">
						<a href="{% url 'web_app_develop' %}">
							<div class="sIcon webAppIcon">
								
							</div>
							<div class="sService">
								<span>WEB APP</span>
								<span>DEVELOPMENT</span>
							</div>
						</a>
					</li>
					<li class="">
						<a href="{% url 'mobile_app_develop' %}">
							<div class="sIcon mobAppIcon">
								
							</div>
							<div class="sService">
								<span>MOBILE APP</span>
								<span>DEVELOPMENT</span>
							</div>
						</a>
					</li>
					<li class="">
						<a href="{% url 'digital_marketing' %}">
							<div class="sIcon markIcon">
								
							</div>
							<div class="sService">
								<span>DIGITAL</span>
								<span>MARKETING</span>
							</div>
						</a>
					</li>
					<li class="">
						<a href="{% url 'customer_support' %}">
							<div class="sIcon supportIcon">
								
							</div>
							<div class="sService">
								<span>24/7</span>
								<span>SUPPORT</span>
							</div>
						</a>
					</li>
					<li class="">
						<a href="{% url 'staff_augmentation' %}">
							<div class="sIcon staffIcon">
								
							</div>
							<div class="sService">
								<span>STAFF</span>
								<span>AUGMENTATION</span>
							</div>
						</a>
					</li>
					
					<li class="hidden-md-up mobile-only">
						<a href="{% url 'more-service' %}">
							<div class="sIcon staffMore">
								
							</div>
							<div class="sService">
								<span>MORE</span>
								<span>SERVICES</span>
							</div>
						</a>
					</li>					
				</ul>
				<div class="clearfix">
				</div>
			</div>
		</div>
		
		<div class="visionStrip postLoad" >
			<div class="container">
				<h3>
					We design the <span class="colorPrimary">future</span> with a vision to deliver a better tomorrow.
				</h3>
			</div>
		</div>
		
		<div class="fullStrip homePromo bgPrimary postLoad" >
			<div class="row no-gutters">
				<div class="col-lg-6 col-md-12 promoLeft">
					<article>
						<h2>WE GIVE WINGS</h2>
						<h2>TO YOUR IDEAS</h2>
						<br>
						<small>Why keep your ideas buried inside?<br> Be it a web or a mobile application, we transform your vision into action with expertise, talent and hard work. Remember, today’s ideas are tomorrow’s innovation.</small>
					</article>
				</div>
				<div class="col-lg-6 col-md-12 promoRight">
					<div class="video-background">
						<div data-link="XO0Pv2i-RG4" class="video-foreground" >
						
							<!-- <iframe id="existing-iframe-example"
								src="https://www.youtube.com/embed/W0LHTWG-UmQ?showinfo=0&rel=0&loop=1&playlist=W0LHTWG-UmQ"
								frameborder="0"
								allowfullscreen
								
							></iframe> -->

						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="fullStrip homeOffers hasOverlayDark postLoad" >
			<div class="container">
				<h1><span>AREAS OF EXPERTISE</span></h1>
				
				<div class="tabCon">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#off1" role="tab">Banking solutions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#off2" role="tab">Healthcare solutions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#off3" role="tab">Media and entertainment</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#off4" role="tab">Logistics solutions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#off5" role="tab">Retail solutions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#off6" role="tab">Educational solutions</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane show fade active" id="off1" role="tabpanel">
							
							<span class="tabIcon"><img src="{% static 'img/iconBanking.png' %}" alt="" title="" /></span>
							
							<h3>Banking service</h3>
							
							<p>
								We deliver technologically advanced software solutions to facilitate and automate payment services required in the banking section. The solution offers many services including modular, multi-currency and multi-lingual ones. Our highlight is the ease of configuration according to the necessaries of the customer, making the services global in nature. Financial software presents a complete package of various aspects, comprehending the myriad of applications within the system.
							</p>
							
							<a href="javascript:void(0)" class="btn-border">Read More</a>
							
						</div>
						<div class="tab-pane fade" id="off2" role="tabpanel">
							
							<span class="tabIcon"><img src="{% static 'img/iconMedical.png' %}" alt="" title="" /></span>
							
							<h3>Healthcare solutions</h3>
							
							<p>
								Systematic compilation of the patient details are of high priority in healthcare field, for which EHR facilitates smooth tracking, monitoring, recording and measures for improvement of overall treatment and diagnosis process. The software maintains the records with utmost security provisions and strictly preserve the data privacy.
							</p>
							
							<a href="javascript:void(0)" class="btn-border">Read More</a>
							
						</div>
						<div class="tab-pane fade" id="off3" role="tabpanel">
							
							<span class="tabIcon"><img src="{% static 'img/iconMedia.png' %}" alt="" title="" /></span>
							
							<h3>Media and entertainment</h3>
							
							<p>
								We are a trusted technology solutions provider for many leading media and entertainment companies, converging unique talents to selected platforms and meeting the ever evolving demands of the business enterprises.  Our expertise in providing the best solutions to distinct problems have proved our sophisticated approach to implement changes and bring about positive results. 
							</p>
							
							<a href="javascript:void(0)" class="btn-border">Read More</a>
							
						</div>
						<div class="tab-pane fade" id="off4" role="tabpanel">
							
							<span class="tabIcon"><img src="{% static 'img/iconLogistics.png' %}" alt="" title="" /></span>
							
							<h3>Logistics solutions</h3>
							
							<p>
								We offer extensive services in transportation and logistics operation including freight management and trucking. We partner with logistics management companies and provide innovative and unique solutions to transform challenges into opportunities for transportation and logistics business.  We design the complete structure and methodology required for the successful delivery of solutions.
							</p>
							
							<a href="javascript:void(0)" class="btn-border">Read More</a>
							
						</div>
						<div class="tab-pane fade" id="off5" role="tabpanel">
						
							<span class="tabIcon"><img src="{% static 'img/iconRetail.png' %}" alt="" title="" /></span>
							
							<h3>Retail solutions</h3>
							
							<p>
								We collaborate with many leading retailers to implement a systematic record keeping system providing customized settings for the individual performance. The solutions provided are unique and incorporate any additional applications which may arise in the due course for the efficient running of the business. 
							</p>
							
							<a href="javascript:void(0)" class="btn-border">Read More</a>
							
						</div>
						<div class="tab-pane fade" id="off6" role="tabpanel">
						
							<span class="tabIcon"><img src="{% static 'img/iconEducation.png' %}" alt="" title="" /></span>
							
							<h3>Educational solutions</h3>
							
							<p>
								With the mandatory education rules and regulations, it is quite significant to manage a complete database of all the students and faculties associated with an educational institution and we deliver smart and easily accessible software for this purpose.  
							</p>
							
							<a href="javascript:void(0)" class="btn-border">Read More</a>
							
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div class="fullStrip homeCLients postLoad" >
			<div class="container">
				<h1><span>OUR HAPPY CLIENTS</span></h1>
				
				<div class="owl-carousel clients-carousel">
					<div class="item">
						<div class="quoteIcon colorPrimary">
						</div>
						<div class="media">
							<div class="media-left">
								<img src="{% static 'img/client-1.jpg' %}" class="media-object" alt="Scott Weber" title="Our happy clinet">
							</div>
							<div class="media-body">
								<div class="clientDet">
									<h4 class="media-heading colorPrimary">Scott Weber</h4>
									<p>Weber Systems Inc.</p>
								</div>
							</div>
						</div>
						<p class="clientQuote">
							"I’ve been working with Spericorn Technology for several years and I can always count on great service and high quality work."
						</p>
						<a href="javascript:void(0)" class="pull-right">Read more.</a>
						
					</div>
					<div class="item">
						<div class="quoteIcon colorPrimary">
						</div>
						<div class="media">
							<div class="media-left">
								<img src="{% static 'img/client-2.jpg' %}" class="media-object" alt="Ian White" title="Our happy clinet">
							</div>
							<div class="media-body">
								<div class="clientDet">
									<h4 class="media-heading colorPrimary">Ian White</h4>
									<p>Worldwide House and Pet Sitting Directory</p>
								</div>
							</div>
						</div>
						<p class="clientQuote">
							"We engaged Spericorn to modernize our membership site and make it responsive on all devices. Our site grew over fifteen years and needed to brought into the new era."
						</p>
						<a href="javascript:void(0)" class="pull-right">Read more.</a>						
					</div>
					<!-- <div class="item">
						<div class="quoteIcon colorPrimary">
						</div>
						<div class="media">
							<div class="media-left">
								<img src="img/client-avatar.jpg" class="media-object" alt="" title="Our happy clinet">
							</div>
							<div class="media-body">
								<div class="clientDet">
									<h4 class="media-heading colorPrimary">Ian White</h4>
									<p>Worldwide House and Pet Sitting Directory</p>
								</div>
							</div>
						</div>
						<p class="clientQuote">
							"We engaged Spericorn to modernise our membership site and make it responsive on all devices. Our site grew over fifteen years and needed to brought into the new era."
						</p>
						<a href="javascript:void(0)" class="pull-right">Read more.</a>						
					</div>	
					<div class="item">
						<div class="quoteIcon colorPrimary">
						</div>
						<div class="media">
							<div class="media-left">
								<img src="img/client-avatar.jpg" class="media-object" alt="" title="Our happy clinet">
							</div>
							<div class="media-body">
								<div class="clientDet">
									<h4 class="media-heading colorPrimary">Ian White</h4>
									<p>Worldwide House and Pet Sitting Directory</p>
								</div>
							</div>
						</div>
						<p class="clientQuote">
							"We engaged Spericorn to modernise our membership site and make it responsive on all devices. Our site grew over fifteen years and needed to brought into the new era."
						</p>
						<a href="javascript:void(0)" class="pull-right">Read more.</a>						
					</div> -->					
				</div>
			</div>
		</div>	
		<div class="fullStrip homeBlogPosts postLoad" >
			<div class="container">
				<h1><span>LATEST ON THE BLOG</span></h1>
				
				<div class="owl-carousel blogPosts-carousel">
					<div class="item">
						<div class="blogPostsImg">
							<img class="imgLF" src="{% static 'img/blogPost1Sm.jpg' %}" alt="" title="">
							<img class="imgLS" src="{% static 'img/blogPost1.jpg' %}" alt="" title="">
						</div>
						<article>
							<h3>Artificial Intelligence</h3>
							<p>
								The technology of blending human intelligence and machine algorithm unleashing unlimited possibilities..
							</p>
							
							<div class="row">
								<div class="col-sm-5">
									2017-10-05
								</div>
								<div class="col-sm-7">
									<b>0</b> Comments
								</div>
							</div>							
							<a href="javascript:void(0)" class="linkPlus caps"><span>+</span> View more</a>							
						</article>						
					</div>
					<div class="item">
						<div class="blogPostsImg">
							<img class="imgLF" src="{% static 'img/blogPost2Sm.jpg' %}" alt="" title="">
							<img class="imgLS" src="{% static 'img/blogPost2.jpg' %}" alt="" title="">
						</div>
						<article>
							<h3>Virtual Reality</h3>
							<p>
								Creation of a virtual world with technology to let the user wander through the waves of immense creativity..
							</p>
							
							<div class="row">
								<div class="col-sm-5">
									2017-10-05
								</div>
								<div class="col-sm-7">
									<b>0</b> Comments
								</div>
							</div>							
							<a href="javascript:void(0)" class="linkPlus caps"><span>+</span> View more</a>							
						</article>						
					</div>
					<div class="item">
						<div class="blogPostsImg">
							<img class="imgLF" src="{% static 'img/blogPost3Sm.jpg' %}" alt="" title="">
							<img class="imgLS" src="{% static 'img/blogPost3.jpg' %}" alt="" title="">
						</div>
						<article>
							<h3>Blockchain</h3>
							<p>
								The age of digital currencies are beyond your expectation ..
							</p>
							
							<div class="row">
								<div class="col-sm-5">
									2017-10-05
								</div>
								<div class="col-sm-7">
									<b>0</b> Comments
								</div>
							</div>							
								<a href="javascript:void(0)" class="linkPlus caps"><span>+</span> View more</a>
							</article>						
					</div>
					<div class="item">
						<div class="blogPostsImg">	
							<img class="imgLF" src="{% static 'img/blogPost4Sm.jpg' %}" alt="" title="">
							<img class="imgLS" src="{% static 'img/blogPost4.jpg' %}" alt="" title="">
						</div>
						<article>
							<h3>Augmented Reality</h3>
							<p>
								Innovative technology to let you decide what you want to experience ..
							</p>
							
							<div class="row">
								<div class="col-sm-5">
									2017-05-05
								</div>
								<div class="col-sm-7">
									<b>0</b> Comments
								</div>
							</div>							
								<a href="javascript:void(0)" class="linkPlus caps"><span>+</span> View more</a>
						</article>
					</div>
					<div class="item">
						<div class="blogPostsImg">
							<img class="imgLF" src="{% static 'img/blogPost1Sm.jpg' %}" alt="" title="">
							<img class="imgLS" src="{% static 'img/blogPost1.jpg' %}" alt="" title="">
						</div>
						<article>
							<h3>Artificial Intelligence</h3>
							<p>
								We design our future with own hands ..
							</p>
							
							<div class="row">
								<div class="col-sm-5">
									2017-10-05
								</div>
								<div class="col-sm-7">
									<b>0</b> Comments
								</div>
							</div>							
							<a href="javascript:void(0)" class="linkPlus caps"><span>+</span> View more</a>							
						</article>						
					</div>
				</div>
			</div>
		</div>
		
		{% include 'social.html' %}
		
		{% include 'newsLetter.html' %}
		
	</div>
{% endblock %}
<!--<?php include 'footer.php';?>-->
<!--{% include 'footer.html' %}-->