{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner">
				<img class="imgLF" src="{% static 'img/mobile-development-sm.jpg' %}" alt="" title="">
				<img class="imgLS" src="{% static 'img/mobile-development.jpg' %}" alt="" title="">
				<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Proud to deliver <br> the best mobile application
						
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							Mobile is now your new laptop, television, book and what not !!!
						</p>
					</div>

				</article>
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Mobile App Development</h1>
					<p class="pBlocklarge ">
						Mobile app development field has witnessed an outstanding performance
						within the last five years, even revolutionizing pre-set notions and customs
						many sectors kept since its evolution. With initiatives of developing improved
						mobile app for every aspect of lifestyle, the area is undergoing tremendous
						alterations on a regular basis. Several versions of an application will have to be
						made with various platforms from time to time and these keep the mobile app
						development sector dynamic.
						<br><br>
						Our expert team of mobile developers upgrades your digital undertakings to
						the higher level. With the experience of having successfully delivered over five
						hundred mobile applications for various clients around the world, we have also
						made significant contributions to healthcare, banking, retail, logistics,
						entertainment, human resource and education. With updated tools and
						frameworks, we deliver cutting edge app based on your necessity.

					</p>
				</article>
				
				
				<div class="row twinSection">
				
					<div class="col-lg-6 imgCon">
						<img class="imgLF" src="{% static 'img/iosDev-sm.jpg' %}" alt="" title="">
						<img class="imgLS" src="{% static 'img/iosDev.jpg' %}" alt="" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									iOS<br>
									App Development
								</h3>
								<p>
									The mobile operating system that runs on Apple’s mobile devices, iPhone and
									iPad, facilitates the smooth running of any App Store product. The whole hard
									work lies on the robust iOS, managing everything from simplicity to security.
									Regular updates are released, making the process easier and smarter. Earlier
									the app were made on obj C, which has nowadays turned to Swift. Server and
									support based projects are the top ones we developed.
								</p>
							</div>
						</article>

					</div>
					
					<div class="col-lg-6 imgCon showFor992">
						<img class="imgLF" src="{% static 'img/androidDev-sm.jpg' %}" alt="" title="">
						<img class="imgLS" src="{% static 'img/androidDev.jpg' %}" alt="" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Android<br>
									App Development
								</h3>
								<p>
									Android is a mobile operating system from Google, with foundation on Linux
									kernel. It is designed primarily for touchscreen mobile devices, namely
									smartphones and tablets. Android offers a rich application framework which
									facilitates you to develop innovative app in a Java language environment. The
									top industries we worked include entertainment, banking, and gaming.
								</p>
							</div>
						</article>
						
					</div>
					<div class="col-lg-6 imgCon hideFor992">
						<img class="imgLF" src="{% static 'img/androidDev-sm.jpg' %}" alt="" title="">
						<img class="imgLS" src="{% static 'img/androidDev.jpg' %}" alt="" title="">
					</div>
					
					<div class="col-lg-6 imgCon">
						<img class="imgLF" src="{% static 'img/hybridAppDev-sm.jpg' %}" alt="" title="">
						<img class="imgLS" src="{% static 'img/hybridAppDev.jpg' %}" alt="" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Hybrid<br>
									App Development
								</h3>
								<p>
									Hybrid mobile applications are developed in a pattern resembling websites. In
									both cases, combination of HTML, CSS, JavaScript and Angular JS technologies
									are used. The key difference is that in hybrid applications, WebView is targeted
									instead of a mobile browser.
								</p>
							</div>
						</article>

					</div>
					
				</div>
				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							WHAT <b>WE DO</b><br>
							<small>Our work pattern</small>
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Requirement gathering</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Work break down structure</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Milestone-wise release</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Milestone-wise build</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Real-time testing</h4>
									<span class="countDis">05</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Publish to store for review</h4>
									<span class="countDis">06</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Release</h4>
									<span class="countDis">07</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
			{% include 'footerQuote.html' %}

		</div>

	
		


		
		
		
	</div>
	

	
{% endblock %}







