{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner">
				<img class="imgLF" src="{% static 'img/satff-augmentaion-sm.jpg' %}" alt="Staff Augmentation loading image" title="">
				<img class="imgLS" src="{% static 'img/satff-augmentaion-lg.jpg' %}" alt="Staff Augmentation" title="">
				<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Recruits the best<br>
						employees for your sector
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							Successful utilization of resources is a key business strategy.
						</p>
					</div>

				</article>
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Staff Augmentation</h1>
					<p class="pBlocklarge ">
						Outsourcing your workload is another field of Spericorn services, providing
						adequate employees for the successful completion of your firm’s undertakings.
						In case you have a project in progress and is facing shortage of developer or
						designer, you may be in need of support but is unable to hire a full time
						employee, then Spericorn can offer you an attractive piece of help by
						facilitating the hiring of required staff on contract basis. We can offer the
						service of our employees or can recruit proficient persons to meet your needs
						on a temporary scheme.<br><br>

						In the recruitment process, there are few specific steps we maintain to make
						sure the hiring is done in a professional way. One instance is we provide our
						own staff to work on your project either using our facilities or to work from
						your office premises. The payroll of such employees would be managed by our
						human resource department with all the ensured additional facilities.<br><br>
						
						There is another way of providing staff for your requirement and that involves
						hiring personals on contract basis by our recruiting segment. They will be
						maintained on either your company payroll or ours depending on the
						conditions. The employees selected will be on the basis of skill and technical
						talents which will be tested in due course of work.

					</p>
				</article>
				
				
				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							WHAT <b>WE DO</b><br>
							<small>Our work pattern</small>
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Project based staffing or contract staffing</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Contract staffing</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Payroll services</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Skill and technical assessment</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Recruitment process outsourcing</h4>
									<span class="countDis">05</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
			{% include 'footerQuote.html' %}
			
		</div>

	
		


		
		
		
	</div>
	
{% endblock %}










