{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner">
				<img class="imgLF" src="{% static 'img/digital-marketing-banner-sm.jpg' %}" alt="" title="">
				<img class="imgLS" src="{% static 'img/digital-marketing-banner-lg.jpg' %}" alt="" title="">
				<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Be on the top with excellent<br>
						excellent marketing					
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							Get recognized! Transform your brand with Spericorn.
						</p>
					</div>

				</article>
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Digital Marketing</h1>
					<p class="pBlocklarge ">
						Promote your business among various prospective clients with incomparable
						digital marketing tactics. We offer you the best possibilities to channel the
						brand to get established with the online users using eye-catching ads on
						various platforms. Smart thinking is the road to reach your customers and we
						help you to make your journey easier and comfortable.
					</p>
				</article>
				
				
				<div class="row twinSection">
				
					<div class="col-lg-6 imgCon">
						<img src="{% static 'img/seo-image.jpg' %}" alt="" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Search<br>
									Engine Optimization
								</h3>
								<p>
									With unique and robust techniques, Spericorn promotes websites, aiding in
									their optimization and widening the spectrum of audience. We maintain an
									experienced crew to meet the promotional and business expansion needs of
									our clients. With adequate expertise and proven strategies, we ensure the sites
									are ranked at significant positions and continue there with stability. Both on-
									page and off-page optimization can be handled efficiently to implement
									considerable changes for the required site.
								</p>
							</div>
						</article>

					</div>

					<div class="col-lg-6 imgCon showFor992">
						<img class="imgLF" src="{% static 'img/content-development-sm.jpg' %}" alt="" title="content-development thumbnail">
						<img class="imgLS" src="{% static 'img/content-development.jpg' %}" alt="content-development" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Content<br>
									Development
								</h3>
								<p>
									Content is the backbone of every site, be it commercial or technical. The
									quality and quantity of a content get noticed in the Google bots crawl and
									plays an important role in determining the ranking of a site. Every content tells
									the reader a story, grabs attention and persuades the person to stay longer,
									imparting more information and assuring more involvement. The visitor needs
									answers for their perplexing queries and answering those are the ultimate goal
									of every successful content. We offer strong contents as required by our
									clients, strictly sticking to their business aspects and perspectives.
								</p>
							</div>
						</article>
						
					</div>
					<div class="col-lg-6 imgCon hideFor992">
						<img class="imgLF" src="{% static 'img/content-development-sm.jpg' %}" alt="" title="content-development thumbnail">
						<img class="imgLS" src="{% static 'img/content-development.jpg' %}" alt="content-development" title="">
					</div>
					
					<div class="col-lg-6 imgCon">
						<img class="imgLF" src="{% static 'img/social-media-optimization-sm.jpg' %}" alt="" title="social-media-optimization thumbnail">
						<img class="imgLS" src="{% static 'img/social-media-optimization.jpg' %}" alt="social-media-optimization" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Social Media<br>
									Optimization
								</h3>
								<p>
									Millions are using social media networks for hours each day and what do you
									expect them are doing? If your answer is posting selfie and videos, you got
									that wrong. About 40% of the population these days depends on these
									platforms to know what is happening around. This is where your business can
									flourish and gain a remarkable position among the users. Scrolling through
									news feeds brings lots of business promotions, which lets them get to know
									more about your firm and work. Publishing more work online and showcasing
									them can bring remarkable differences in your business. Isn't it great to meet
									and attract your clients in a relaxing way?
								</p>
							</div>
						</article>

					</div>
					
					
				</div>
				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							WHAT <b>WE DO</b><br>
							<small>Our work pattern</small>
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>On-page optimization</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Off-page optimization</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Social media marketing</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Email marketing</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Branding</h4>
									<span class="countDis">05</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Paid promotions</h4>
									<span class="countDis">06</span>
								</a>
							</li>
							
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
			{% include 'footerQuote.html' %}
			
		</div>

	
		


		
		
		
	</div>
	
{% endblock %}











