{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<div class="mainContent innerPages">
	
	
	

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
			
				<h1 class="mainHeading"><span>OUR</span> SERVICES</h1>
				
				<div class="row servicesBoxCon">
					
					<a href="{% url 'web_app_develop' %}" class="col-lg-4 col-md-6 noPadding servicesBox">
						<figure class="effect-ruby">
							<img src="{% static 'img/serviceImg1.png' %}" alt=""/>
							<figcaption>
								<div class="imgIcon f1"></div>
								<h2>WEB APP <span>DEVELOPMENT</span></h2>
								<p>A solution for every aspect! We revolutionize the concepts.</p>
								<span class="arrow1"><img src="{% static 'img/arrowRight1W.png' %}" alt="" /></span>
							</figcaption>
						</figure>
					</a>
					
					<a href="{% url 'mobile_app_develop' %}" class="col-lg-4 col-md-6 noPadding servicesBox">
						<figure class="effect-ruby">
							<img src="{% static 'img/serviceImg2.png' %}" alt=""/>
							<figcaption>
								<div class="imgIcon f2"></div>
								<h2>MOBILE APP <span>DEVELOPMENT</span></h2>
								<p>Mobile is now your new laptop, television, book and what not ???</p>
								<span class="arrow1"><img src="{% static 'img/arrowRight1W.png' %}" alt="" /></span>
							</figcaption>
						</figure>
					</a>
					
					<a href="{% url 'digital_marketing' %}" class="col-lg-4 col-md-6 noPadding servicesBox">
						<figure class="effect-ruby">
							<img src="{% static 'img/serviceImg3.png' %}" alt=""/>
							<figcaption>
								<div class="imgIcon f3"></div>
								<h2>DIGITAL <span>MAKETING</span></h2>
								<p>Get recognized! Transform your brand with Spericorn.</p>
								<span class="arrow1"><img src="{% static 'img/arrowRight1W.png' %}" alt="" /></span>
							</figcaption>
						</figure>
					</a>


					<a href="{% url 'customer_support' %}" class="col-lg-4 col-md-6 noPadding servicesBox">
						<figure class="effect-ruby">
							<img src="{% static 'img/serviceImg4.png' %}" alt=""/>
							<figcaption>
								<div class="imgIcon f4"></div>
								<h2>24/7 <span>SUPPORT</span></h2>
								<p>A satisfied customer is the one who takes your business to next level.</p>
								<span class="arrow1"><img src="{% static 'img/arrowRight1W.png' %}" alt="" /></span>
							</figcaption>
						</figure>
					</a>
					
					<a href="{% url 'staff_augmentation' %}" class="col-lg-4 col-md-6 noPadding servicesBox">
						<figure class="effect-ruby">
							<img src="{% static 'img/serviceImg5.png' %}" alt=""/>
							<figcaption>
								<div class="imgIcon f5"></div>
								<h2>STAFF <span>AUGMENTATION</span></h2>
								<p>Successful utilization of resources is a key business strategy ..</p>
								<span class="arrow1"><img src="{% static 'img/arrowRight1W.png' %}" alt="" /></span>
							</figcaption>
						</figure>
					</a>
					
					<a href="{% url 'more-service' %}" class="col-lg-4 col-md-6 noPadding servicesBox">
						<figure class="effect-ruby">
							<img src="{% static 'img/serviceImg6.png' %}" alt=""/>
							<figcaption>
								<div class="imgIcon f6"></div>
								<h2>WHAT'S <span>MORE</span></h2>
								<p>Every innovation started from someone’s dream. Let’s not stop dreaming.</p>
								<span class="arrow1"><img src="{% static 'img/arrowRight1W.png ' %}" alt="" /></span>
							</figcaption>
						</figure>
					</a>					

				
				</div>
				
				
				<article>	
					<h2 class="mainHeading"><span>INDU</span>STRIES</h2>
					<p class="textNormalSmall">
						We deliver solutions to various industrial sectors for easy tracking, accounting, monitoring and analysis of their data. Be it there internal company payrolls or data interpretations regarding functionality, we provide customizable software to meet their needs.
					</p>
				</article>


				
				<div class="row industryBoxCon">
					
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i1"></div>
						<h4>Banking solutions</h4>
						<p>
							Deliver technologically advanced software solutions to facilitate payment services.
						</p>
					</div>
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i2"></div>
						<h4>Healthcare solutions</h4>
						<p>
							Systematic compilation through EHR facilitating tracking & monitoring diagnosis process.
						</p>
					</div>
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i3"></div>
						<h4>Media & Entertainment</h4>
						<p>
							Provide solutions to converge unique talents to meet evolving business demands.
						</p>
					</div>
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i4"></div>
						<h4>Logistics Solutions</h4>
						<p>
							Services with transportation and logistics operation including freight management.
						</p>
					</div>
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i5"></div>
						<h4>Retail Solutions</h4>
						<p>
							Implement systematic record keeping software for individual customized settings.
						</p>
					</div>
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i6"></div>
						<h4>Educational Solutions</h4>
						<p>
							Manage complete database of students and faculties delivering unique smart software.
						</p>
					</div>
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i7"></div>
						<h4>Travel and tourism</h4>
						<p>
							Get your voyages charted with ease to enjoy the comforts with advanced tools of management.
						</p>
					</div>
					<div class="col-lg-3 col-md-4 industryBox">
						<div class="imgIconSmall i8"></div>
						<h4>Manufacturing</h4>
						<p>
							A wide spectrum of manufacturing sectors utilize our system to maintain their products with specifications.
						</p>
					</div>


				</div>
				
				
				<article>	
					<h2 class="mainHeading"><span>OUR</span> HIGHLIGHTS</h2>
				</article>
				
				
				<div class="row activitiesCon">
					
					<div class="col-lg-4 col-md-12 noPadding activityLeftCon">
					</div>
					
					<div class="col-lg-8 col-md-12 noPadding activityRightCon">
						<div class="activityListCon">
							<ul class="row activityList">
								<li class="col-lg-6 col-md-12">
									<a>
										<h1 class="mainHeading"><span>Stra</span>tegic Consulting</h1>
										<p>
											Assist businesses to achieve sustainable growth utilizing economic potentials.
										</p>
									</a>
								</li>
								<li class="col-lg-6 col-md-12">
									<a>
										<h1 class="mainHeading"><span>Proj</span>ect management</h1>
										<p>
											Experienced in successfully managing projects to achieve the preferred goals.
										</p>
									</a>
								</li>
								<li class="col-lg-6 col-md-12">
									<a>
										<h1 class="mainHeading"><span>Prod</span>uct development</h1>
										<p>
											Transforming ideas into real end products needs expertise and innovation.
										</p>
									</a>
								</li>
								<li class="col-lg-6 col-md-12">
									<a>
										<h1 class="mainHeading"><span>Qual</span>ity assurance</h1>
										<p>
											Monitoring quality of the services delivered as a key element of production. 
										</p>
									</a>
								</li>
								<li class="col-lg-6 col-md-12">
									<a>
										<h1 class="mainHeading"><span>Offs</span>hore development </h1>
										<p>
											Deploy offshore talents with technology and practices of project management.
										</p>
									</a>
								</li>
								<li class="col-lg-6 col-md-12">
									<a>
										<h1 class="mainHeading"><span>Free</span>lancing services</h1>
										<p>
											Projects are also handled on a freelance basis as and when required. 
										</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					
					
				</div>
				
				
			</div>
		</div>

	
		


	

		{% include 'newsLetter.html' %}
		
		
		
	</div>
	
	

{% endblock %}









