{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner">
				<img class="imgLF" src="{% static 'img/customer-support-sm.jpg' %}" alt="Customer Support loading image" title="">
				<img class="imgLS" src="{% static 'img/customer-support-lg.jpg' %}" alt="Customer Support" title="">
				<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Nonstop service<br>
						without exception
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">24/7 Customer Support</h1>
					<p class="pBlocklarge ">
						The most important factor of running an enterprise is to keep a keen eye on
						the business health. Customer support is an unattended field in many
						establishments but the work ethic of Spericorn strongly includes the area in its
						top priority service. Clients are our roots to keep us strong in the field and
						erasing their project related worries and queries are important to grow a
						sustainable and stable business firm. Client satisfaction is our ultimate goal and
						hence we provide uninterrupted customer support to meet their needs. This is
						indeed a core sector of our service provided.

					</p>
				</article>
				
				
				<div class="row twinSection">
				
					<div class="col-lg-6 imgCon">
							<img class="imgLF" src="{% static 'img/customer-support-sm.jpg' %}" alt="Customer Support loading image" title="">
							<img class="imgLS" src="{% static 'img/customer-support-lg.jpg' %}" alt="Customer Support" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Voice<br>
									support
								</h3>
								<p>
									We provide customer service over calls with dedicated involvement of
									technical personals to supervise and for providing right technical directions for
									the customer queries. We successfully manages tele-calls from marketing
									perspective to support our clients, generating valuable leads to improve the
									sales output. Virtual assistance through calls can help to clear the hurdles and
									to ensure smooth processing for the customers. Spericorn maintains all the
									three L1, L2 and L3 levels of customer support and manages to ensure full time
									support.
								</p>
							</div>
						</article>

					</div>
					
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Non-voice<br>
									support
								</h3>
								<p>
									We keep it our responsibility to manage uninterrupted customer support
									through non-voice services namely emails and chats. We provide both
									technical and nontechnical support as and which the customer demands
									associated with a particular process. A highlight from our part is the remote IT
									infrastructure monitoring and proactive support.
								</p>
							</div>
						</article>
						
					</div>
					<div class="col-lg-6 imgCon hideFor992">
							<img class="imgLF" src="{% static 'img/non-voice-support-sm.jpg' %}" alt="Customer Support loading image" title="">
							<img class="imgLS" src="{% static 'img/non-voice-support.jpg' %}" alt="Customer Support" title="">
					</div>
					
				</div>
				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							WHAT <b>WE DO</b><br>
							<small>Our work pattern</small>
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Virtual assistance</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Lead generation</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Technical support - voice</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Technical support - non-voice</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Order processing and Billing</h4>
									<span class="countDis">05</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4> Customer support</h4>
									<span class="countDis">06</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Remote IT infrastructure monitoring</h4>
									<span class="countDis">07</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			


			
			{% include 'footerQuote.html' %}

			
		</div>

	
		


		
		
		
	</div>
	
	
{% endblock %}















