{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner">				
				<img class="imgLF" src="{% static 'img/wep-apps-banner-sm.jpg' %}" alt="" title="">
				<img class="imgLS" src="{% static 'img/wep-apps-banner-lg.jpg' %}" alt="" title="">
				<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						The art of designing to <br> enhance your business
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A solution for every aspect! We revolutionize the concepts.
						</p>
					</div>

				</article>
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Web App Development</h1>
					<p class="pBlocklarge ">
						In this world of cutthroat competition, every entrepreneur wants to stand out
						of the typical herd, and for that they undertake different process and strategies to keep
						their brand and identity uniquely distinguished. However, before considering
						these, you need to corroborate your productivity is in terms with the
						contemporary marketing needs. Are the customers’ needs met satisfactorily?
						When it comes to providing optimal and reliable services or products, the
						technological tools and methods cannot be ignored. Web application
						development is among such tools that significantly help you to acquire unique
						business needs. Our tech savvy team of dedicated professionals work together to deliver agile
						web-based, interactive &amp; highly pragmatic solutions. We deliver client-oriented
						development process, adhering to the specifications directed. Customized
						solutions are provided through various steps including analyzing the market
						niche, branding, e-commerce, API development and integration, generating
						required content and testing. Our talented programmers work together in
						close association with the professional designers to deliver captivating
						websites.
					</p>
				</article>
				
				<div class="row twinSection">
				
					<div class="col-lg-6 imgCon">
						<img class="imgLF" src="{% static 'img/webDesign-sm.jpg' %}" alt="" title="">
						<img class="imgLS" src="{% static 'img/webDesign.jpg' %}" alt="" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Web<br>
									Design
								</h3>
								<p>
									The appearance of a site is the foremost element of an impression on a customer. The design of a website is the soul of the online business and greater its alluring power, the more response it captures. At Spericorn, we have a bunch of designers whose designs are on par with international standards, implementing classic and professional looks to your websites. Impart the distinctive appearance of elegance to the sites with graphic and interface design, bringing freshness and uniqueness in user interaction and experience.
								</p>
							</div>
						</article>

					</div>
					
					<div class="col-lg-6 imgCon showFor992">
						<img class="imgLF" src="{% static 'img/webDevelopment-sm.jpg' %}" alt="" title="">
						<img class="imgLS" src="{% static 'img/webDevelopment.jpg' %}" alt="" title="">
					</div>
					<div class="col-lg-6 textCon">
					
						<article>
							<div>
								<h3 class="borderBottomLeftBold">
									Web application<br>
									Development
								</h3>
								<p>
									Web application development helps in taking the business to another level with development in multi-functionality and client-centric facilities in the websites. When it comes to developing website applications, it is vital to comprehend every business aspects individually. It aids in upholding the professional nature and credibility. Sites are often constructed in such a way so as to accommodate all the major search engines permitting an efficient and effective crawling of web pages that are optimized for particular search keywords. As a company with a dedicated long-term web application management team, we maintain a high standard in the works undertaken.
								</p>
							</div>
						</article>
						
					</div>
					<div class="col-lg-6 imgCon hideFor992">
						<img class="imgLF" src="{% static 'img/webDevelopment-sm.jpg' %}" alt="" title="">
						<img class="imgLS" src="{% static 'img/webDevelopment.jpg' %}" alt="" title="">
					</div>

					
				</div>

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							WHAT <b>WE DO</b><br>
							<small>Our work pattern</small>
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Business mandate preparation</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Project initiation</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>System analysis</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Work breakdown structure</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>System design</h4>
									<span class="countDis">05</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Application development</h4>
									<span class="countDis">06</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Test management</h4>
									<span class="countDis">07</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Risk strategy</h4>
									<span class="countDis">08</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Release management</h4>
									<span class="countDis">09</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Maintenance and support</h4>
									<span class="countDis">10</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
			{% include 'footerQuote.html' %}
			
		</div>

	
		


		
		
		
	</div>
	
	
{% endblock %}