<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 homeSocialDiv postLoad">
						<div class="socialTitle">
							<span class="iconTwitter"></span> TWEETS
						</div>
						<div class="socialPosts">
							<a class="twitter-timeline" href="https://twitter.com/spericorn" data-chrome="noheader"  data-height="425" data-tweet-limit="3"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 homeSocialDiv postLoad">
						<div class="socialTitle">
							<span class="iconFacebook"></span> FACEBOOK
						</div>						
						<div class="socialPosts text-center">
							<div class="fb-page"
							  data-href="https://www.facebook.com/spericorntechnology/" 
							  data-width=""
							  data-hide-cover="false"
							  data-show-facepile="true"></div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 homeSocialDiv postLoad">
						<div class="socialTitle">
							<span class="iconPinterest"></span> PINTEREST
						</div>
						<div class="socialPosts text-center">
							<a data-pin-do="embedUser" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://in.pinterest.com/spericorntechnology/"></a>
						</div>
					</div>
				</div>
			</div>