{% extends 'base.html' %}
{% load static %}
{% block meta_keywords %} Django development company in India, Best Django developers, Freelance Django developers, Remote Django developers {% endblock %}
{% block content %}



	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">
			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/django.png' %}" alt="django logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Django </h1>
					<p class="pBlocklarge ">
						Django is a high-level Python Open source Web framework that helps fast Web Application development with an elegant design. We are the outstanding Django Development Company provides you the best Django Web development services, which are trouble-free and built by certified Django developers with several years of experience. We strive hard to make the entire Web development process at best quality for our clients with out of the box solutions. Request a quote to make your Website more interactive and profitable.

					</p>
				</article>
				
				
				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							HIGHLIGHTS
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Very fast development</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Safe and secure</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Scalable</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Model-view Template architecture</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			


{% include 'footerQuote.html' %}

			
		</div>

	
		


		
		
		
	</div>
	
	
{% endblock %}

















