{% extends 'base.html' %}
{% load static %}
{% block meta_keywords %}AngularJS development company in India, Best AngularJS developers, Freelance AngularJS developers, Remote AngularJS developers
{% endblock %}
{% block content %}


	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">
			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/angular.png' %}" alt="angular logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Angular JS</h1>
					<p class="pBlocklarge ">
						AngularJS is a structural framework for dynamic web app. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. AngularJS data binding and dependency injection eliminate much of the code you would otherwise have to write. All of these happens within the browser, making it an ideal partner with any server technology. AngularJS is what HTML would have been, had it been designed for applications. HTML is a great declarative language for static documents. AngularJS is not a single piece in the overall puzzle of building the client-side of a web application. It handles all of the DOM and AJAX glue code you once wrote by hand and puts it in a well-defined structure. This makes AngularJS opinionated about how a CRUD (Create, Read, Update, Delete) application should be built.
						
					</p>
				</article>
				

				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							HIGHLIGHTS
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Powerful JavaScript framework</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Utilized in Single Page applications</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Free, open source</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Extends HTML DOM with additional attributes</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
{% endblock %}