{% extends 'base.html' %}
{% load static %}
{% block content %}


	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">
				
				<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>
				
				<div class="technologyLogo">
					<img src="{% static 'img/ionic.png' %}" alt="ionic logo">
				</div>
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">ionic</h1>
					<p class="pBlocklarge ">
						Ionic is an HTML5 mobile app development framework aimed at creating hybrid mobile applications. Hybrid applications are small websites working in a browser shell in an application which has access to the native platform layer. Hybrid app has numerous advantages when compared to pure native app, especially on account of platform support, speed of development, and access to third party codes.
					</p>
				</article>
				
				

				


				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
	
{% endblock %}