{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">
			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/laravel.png' %}" alt="laravel logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Laravel</h1>
					<p class="pBlocklarge ">
						Laravel is a web application framework with expressive, elegant syntax. Laravel follows a traditional " Model- View- Controller" design pattern. Controller handles the user requests and retrieve data by leveraging models. Models do interact with the database and retrieve the object information.
Some prominent features of Laravel are modular packaging system with a dedicated dependency manager, different ways for accessing relational databases, utilities that aid in application deployment and maintenance and its orientation towards syntactic sugar.

					</p>
				</article>
				
				
				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							HIGHLIGHTS
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Modular packaging system with a dedicated dependency manager</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Different ways of accessing relational database</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Utilities that aid in application deployment</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
	
{% endblock %}















