{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<div class="mainContent innerPages">
	
	
	

		
		<div class="fullStrip" >
			
			<div class="container contentsCon">

			
				<article>	
					<h1 class="mainHeading"><span>TECHNOL</span>OGIES</h1>
					<p class="textNormalSmall">
						We offer a wide spectrum of domains for our clients, each of which is headed and guided by brilliant developers. We promote technological innovation through each of our projects bringing development an integral part of our modern world.
					</p>
				</article>
				
				
				
				<ul class="category-filter">
					<li>
						<a href="javascript:void(0)" class="category-button active" data-filter="all">All</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="category-button" data-filter="filterWeb">Web</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="category-button" data-filter="filterMobile">Mobile</a>
					</li>
				</ul>


				<div class="row technologyBoxCon">
					
					<a href="{% url 'coldfusion' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t1"></div>
						<h4>ColdFusion</h4>
						<p>
							ColdFusion is an effective custom application advancement stage which gives the ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'django' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t3"></div>
						<h4>Django</h4>
						<p>
							Django is a high-level Python Open source Web framework that helps fast Web ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'node_js' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb filterMobile">
						<div class="imgIconSmall t9"></div>
						<h4>Node js</h4>
						<p>
							Node.js is an open-source, cross-platform runtime environment for developing server-side ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'ruby_on_rails' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t8"></div>
						<h4>Ruby on Rails</h4>
						<p>
							Ruby on Rails is a challenging web framework in Web App development.  It is an ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'laravel' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t6"></div>
						<h4>Laravel</h4>
						<p>
							laravel is a web application framework with expressive, elegant syntax. Laravel follows ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'react_js' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t10"></div>
						<h4>React js</h4>
						<p>
							React JS development is becoming a popular and trendiest JavaScript open source library ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'android' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterMobile">
						<div class="imgIconSmall t14"></div>
						<h4>Android</h4>
						<p>
							Android is a mobile operating system from Google, with foundation on Linux kernel ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'iOS' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterMobile">
						<div class="imgIconSmall t13"></div>
						<h4>IOS</h4>
						<p>
							The mobile operating system that runs on Apple’s mobile devices, iPhones and iPads ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'python' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t2"></div>
						<h4>Python</h4>
						<p>
							Python is a high-level, interpreted and general-purpose dynamic programming ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'java' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t4"></div>
						<h4>Java</h4>
						<p>
							Security is a key feature in Java’s design. It is characterized for safe programming ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'php' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t5"></div>
						<h4>PHP</h4>
						<p>
							Spericorn offers extensive range of customized PHP application development leading ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'ionic' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterMobile">
						<div class="imgIconSmall t16"></div>
						<h4>ionic</h4>
						<p>
							Ionic is an HTML5 mobile app development framework aimed at creating hybrid mobile ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'wordpress' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t7"></div>
						<h4>Wordpress</h4>
						<p>
							Wordpress is a free open source content management system (CMS) based on PHP and MySQL ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'angular_js' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb filterWeb">
						<div class="imgIconSmall t11"></div>
						<h4>Angular js</h4>
						<p>
							AngularJS is a structural framework for dynamic web application. It lets you use HTML ..<span>[ more ]</span>
						</p>
					</a>
					<a href="{% url 'sass' %}" class="col-lg-3 col-md-4 col-sm-6 technologyBox filter filterWeb">
						<div class="imgIconSmall t12"></div>
						<h4>SASS</h4>
						<p>
							SASS is a CSS pre-processor that helps to create professional and customizable CSS ..<span>[ more ]</span>
						</p>
					</a>
					
				</div>
				
				


				
			</div>
		</div>

	
		


	
	
		{% include 'newsLetter.html' %}
		
		
		
	</div>
	
{% endblock %}



