{% extends 'base.html' %}
{% load static %}
{% block content %}


	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/sass.png' %}" alt="sass logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">SASS</h1>
					<p class="pBlocklarge ">
					Software as a service is a software licensing and delivery model which allows central hosting and license subscription of the software. This is also termed as "on-demand software". SaaS provides a complete software solution that can be purchased on a pay-as-you-go basis from a cloud service provider. The software suite digs, alter, manage and retrieve data from various sources and perform statistical analysis on it. The underlying infrastructure, middleware, app software and app data are in the service provider’s data center. The service provider facilitates the hardware and software, and with the suitable service agreement, the availability and the security of the app and your data will be ensured. 
					</p>
				</article>
				
				

				

				
				<!--<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							HIGHLIGHTS
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>...</h4>
									<span class="countDis">01</span>
								</a>
							</li>

							
						</ul>
					</div>
					
				</div>-->
				
				
			</div>
			
			{% include 'footerQuote.html' %}
			
		</div>

	
		


		
		
		
	</div>
	
	
	

{% endblock %}