{% extends 'base.html' %}
{% load static %}
{% block content %}


	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner">
				<img src="{% static 'img/bnnerInner1.jpg' %}" alt="" title="">
				<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Hybrid App</h1>
					<p class="pBlocklarge ">
						Hybrid mobile applications are developed in a pattern resembling websites. In both cases, combination of HTML, CSS, JavaScript and Angular JS technologies are used. The key difference is that in hybrid applications, WebView is targeted instead of a mobile browser.

					</p>
				</article>
				
				

				


				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
	

{% endblock %}