{% extends 'base.html' %}
{% load static %}
{% block content %}


	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/php.png' %}" alt="php logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">PHP</h1>
					<p class="pBlocklarge ">
						Spericorn offers extensive range of customized PHP application development leading your business ventures to a more sophisticated level, enhancing growth and future prospects. Our PHP developers have immense experience in using server side script language, developing creative and innovative solutions. They are proficient in creating mission specific applications along with providing adequate support and comprehensive work process for management. Spericorn has been successful in developing state-of-the-art database driven sophisticated websites leveraging the language. The programmers utilize the best practices to execute the PHP-based solutions adhering to the strategies employed by the clients.

					</p>
				</article>
				
				
				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							HIGHLIGHTS
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Backend system mobile app API</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Open source</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Powerful library support</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Easily connected to database</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Multiplatform support</h4>
									<span class="countDis">05</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Easy to use</h4>
									<span class="countDis">06</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Relatively fast</h4>
									<span class="countDis">06</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
	

{% endblock %}