{% extends 'base.html' %}
{% load static %}
{% block content %}


	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">
			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/javascript.png' %}" alt="javascript logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">JAVA</h1>
					<p class="pBlocklarge ">
						Security is a key feature in Java’s design. It is characterized for safe programming which is free of corruption or infection. The languages security model is designed in such a way to help and protect users from hostile programs. Due to the multifaceted characters of Java, the language is greatly successfully in facilitating mobile development. The extreme flexibility allows its usage in a number of development process. Java has found a wide spectrum of applications including desktop GUI applications, embedded systems, web applications, front and back office electronic trading systems, settlement and confirmation systems, data processing projects, and the list continues.

					</p>
				</article>
				
				

				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							HIGHLIGHTS
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Easy to learn</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Object oriented language</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Platform independent</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Secure</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Robust</h4>
									<span class="countDis">05</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Multithreaded</h4>
									<span class="countDis">06</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
	
{% endblock %}