{% extends 'base.html' %}
{% load static %}
{% block content %}



	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">
			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/ios.png' %}" alt="ios logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">iOS App</h1>
					<p class="pBlocklarge ">
						The mobile operating system that runs on Apple’s mobile devices, iPhone and iPad, facilitates the smooth running of any App Store product. The whole hard work lies on the robust iOS, managing everything from simplicity to security. Regular updates are released, making the process easier and smarter. Earlier the applications were made on obj C, which has nowadays turned to Swift. Server and support based projects are the top ones we developed.

					</p>
				</article>
				
				

				


				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
	

{% endblock %}








