{% extends 'base.html' %}
{% load static %}
{% block content %}


	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">
			
			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>				
				
				<div class="technologyLogo">
					<img src="{% static 'img/python.png' %}" alt="python logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Python</h1>
					<p class="pBlocklarge ">
						Python is a powerful and easy-to learn programming language with efficient and enhanced data structures together with uncomplicated but effective approach towards object-oriented programming. It is very much flexible compared to other languages.  Python has an elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms. This has enormous use in string processing, making it more preferable for Google, YouTube, etc.<br><br>
						The Python interpreter and the considerable standard library are available for free in source or binary form for all the major platforms from the Python Web site. Along with it, there are distributions of and pointers to many free third party Python modules, programs and tools, and additional documentation. The Python interpreter is easily extended with new functions and data types implemented in C or C++ (or other languages callable from C). Python is also suitable as an extension language for customizable applications.

					</p>
				</article>
				
				
				
				

				
				<div class="row doListCon">
					
					<div class="col-lg-3 col-md-4">
						<h3 class="borderBottomLeftBold">
							HIGHLIGHTS
						</h3>
					</div>
					
					<div class="col-lg-9 col-md-8">
						<ul class="row">
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Extensive Support Libraries</h4>
									<span class="countDis">01</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Integrates Enterprise Application Integration</h4>
									<span class="countDis">02</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>Improved Programmer’s Productivity</h4>
									<span class="countDis">03</span>
								</a>
							</li>
							<li class="col-lg-6 col-md-12">
								<a>
									<h4>A way to build scalable multi-protocol network applications</h4>
									<span class="countDis">04</span>
								</a>
							</li>
							
						</ul>
					</div>
					
				</div>
				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	
	
	

{% endblock %}


