{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<div class="mainContent innerPages ">
	
		<div class="container noPadding conShadowLH">
			<div class="innerPageBanner technolgyInnerBanner">

			<article>
					<h3 class="bannerCaption borderBottomLeftBold">
						Masters of<br>
						Futuristic Technologies
					</h3>
					
					<div class="largeCaptionCon">
						<p class="largeCaption">
							A satisfied customer is the one who takes your business to next level.
						</p>
					</div>

				</article>
				
				
				<div class="technologyLogo">
					<img src="{% static 'img/android.png' %}" alt="android logo">
				</div>		
				
			</div>
		</div>
		

		
		<div class="fullStrip" >
			
			<div class="container contentsCon conShadowLH">
				
				<article>	
					<h1 class="mainHeading text-center borderBottomCenter">Android App</h1>
					<p class="pBlocklarge ">
						Android is a mobile operating system from Google, with foundation on Linux kernel. It is designed primarily for touchscreen mobile devices, namely smartphones and tablets. Android offers a rich application framework which facilitates you to develop innovative app in a Java language environment. The top industries we worked include entertainment, banking, and gaming.

					</p>
				</article>
				
				

				

				
				
			</div>
			
{% include 'footerQuote.html' %}
		</div>

	
		


		
		
		
	</div>
	

{% endblock %}