span.form-error-info {
    color: red;
    font-size: 13px;
    text-align: left;
    margin: 0;
}

.spForm .form-control.form-error-indication {
    border-color: red;
    box-shadow: inset 0px 0px 2px 2px #fff, inset 0px 2px 1px 0px #fff, inset 0px 2px 0px 2px #eef5fb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}