/*!
 * Spericorn Technology (https://www.spericorn.com)
 * Copyright 2017-2018
*/


body{
	background: #fff;
	font-family: 'Sintony', sans-serif;
	/* font-family: 'Source Sans Pro', sans-serif; */
}

body.modal-open, body.modal-open .sHeader{
	padding-right: 16px;
	transition: all 0s ease;
}
body .sHeader{
	transition: all 0s ease;
}

/*Interchange image*/
.imgLF{
	opacity: 1;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
		-webkit-filter: blur(15px);
		        filter: blur(15px);
}
.imgLF.hideSm{
	opacity: 0;
	height: 0;
}
.imgLS{
	opacity: 0;
}
.imgLS.showLg{
	opacity: 1;
}


/* For fuull width columns */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.colorPrimary{
	color: #ff8200;
}
.bgPrimary{
	background-color: #ff8200;
}

.longContainer{
    margin: 0 auto;
    max-width: 1800px;
    transition: all 0.2s ease;
    padding: 0;
}

.bgGray{
	background: #f7f7f7;
}


.navbar-toggler{
	padding: 0px;
	width: 39px;
	height: 35px;
	border: 1px solid #ccc;
}
.navbar-toggler-icon{
	width: auto;
	height: auto;
	padding: 7px 10px;
	cursor: pointer;
	color: #ff8200;
}


.fitContainer{

}
@media (min-width: 1650px)
{
	.innerPages .container{
		max-width: 1400px;
	}
}


.nopaddingTop{
	padding-top: 0px !important;
}

@media (min-width: 1450px)
{
	.container{
		max-width: 1400px;
	}
}
@media (min-width: 1650px)
{
	.container{
		max-width: 1600px;
	}
}
#background, #foreground, #fore-foreground, #fore-fore-foreground{
	transform: translateZ(0);
}

.sHeader{
	height: 101px;
	background: #fff;
	position: fixed;
	z-index: 500;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0, 0.15);
	transition: all 0.2s ease;
	-webkit-transform: translateZ(0);
}
.sHeaderInner{
	margin: 0 auto;
	max-width: 1800px;
	height: 100px;
	transition: all 0.2s ease;
	padding: 0;

}

.servicesStrip ul li.mobile-only {display:none;}

.sHeaderInner nav .dropdown>.dropdown-menu {
 display: block;
}
.sHeaderInner nav .dropdown:hover>.dropdown-menu {
 display: block;
 top: 33px;
 opacity: 1;
 -webkit-transform: scaleY(1);
 transform: scaleY(1);
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
 opacity: 0;
 -webkit-transform: scale(0.01);
 transform: scale(0.01);
 -webkit-transform-origin: 50% 8px;
 transform-origin: 50% 8px;
 transition: all 0.3s cubic-bezier(0.155, 1.105, 0.295, 1.12), opacity 0.1s linear;
}



@media (max-width: 1900px)
{
	.sHeaderInner{
		/* padding-left: 15px;
		padding-right: 15px; */
	}
	nav.navbar-right>ul{
		padding-right: 15px;
	}
}

.sHeader.shrinked, .sHeader.shrinked .sHeaderInner{
	height: 72px;
}

@media (max-width: 1299px){
	.sHeader, .sHeader .sHeaderInner{
		height: 72px;
	}
}




.sHeaderInner .navbar-collapse>ul{
	/* padding-right: 15px; */
}
.sHeaderInner .navbar-collapse>ul>li{
	padding: 0px 15px;
}
.sHeaderInner .navbar-collapse>ul>li:last-child{
	padding: 0px 0px 0px 15px;
}

.sHeaderInner .navbar-collapse>ul>li.hasBorderHov{
	/* padding: 0px 25px; */
}

@media (max-width: 1450px){
	.sHeaderInner .navbar-collapse>ul>li.hasBorderHov, .sHeaderInner .navbar-collapse>ul>li{
		padding: 0px 9px;
	}
}

@media (max-width: 1250px){
	.sHeaderInner .navbar-collapse>ul>li.hasBorderHov, .sHeaderInner .navbar-collapse>ul>li{
		padding: 0px 6px;
	}
}

.sHeaderInner .navbar-collapse>ul>li>a{
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	font-weight: 700;

}


.sHeaderInner .navbar-collapse>ul>li.hasBorderHov>a:after{
	position: absolute;
	content: "";
	display: block;
    width: 0%;
    opacity: 0.5;
    height: 2px;
    background: #ff8200;
    left: 0;
    bottom: 2px;
    transition: all 0.5s ease;
}
.sHeaderInner .navbar-collapse>ul>li.active{

}

.sHeaderInner .navbar-collapse>ul>li.hasBorderHov:hover>a:after, .sHeaderInner .navbar-collapse>ul>li.hasBorderHov.active>a:after{
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
}

.navbar-expand-md .navbar-nav .nav-link{
	padding-left: 0;
	padding-right: 0;
}

.sHeaderInner .navbar-collapse ul li a.btn-orange-bg{
	color: #fff;
	background: #ff8400;
	border-bottom: 2px solid #ff5a00;
	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 15px;
}
@media (max-width: 1250px){
	.sHeaderInner .navbar-collapse ul li a.btn-orange-bg{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.sHeaderInner .navbar-collapse ul li a.btn-orange-bg span{
	font-size: 20px;
	margin-right: 10px;
	line-height: 20px;
	vertical-align: middle;
}
.sHeaderInner .navbar-collapse ul li a.btn-orange-bg:hover{
	background: #fd7100;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35) !important;
}
.sHeaderInner .navbar-collapse ul li a.btn-orange-bg:active{
	box-shadow: none !important;
}
.sHeaderInner .navbar-collapse ul li a.btn-orange-bg:focus, .sHeaderInner .navbar-collapse ul li a.btn-orange-bg:visited{
	box-shadow: none;
}

.sHeaderInner .navbar-collapse ul li a.btn-orange-border{
	color: #ff8400 !important;
	font-size: 13px;
	border: 1px solid #ff8400;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 15px;
}

.sHeaderInner .navbar-collapse ul li a.btn-orange-border span{
	font-size: 20px;
	margin-right: 10px;
	line-height: 20px;
	vertical-align: middle;
}
.sHeaderInner .navbar-collapse ul li a.btn-orange-border:hover{
	color: #fff !important;
	background: #fd7100;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35) !important;
}
.sHeaderInner .navbar-collapse ul li a.btn-orange-border:active{
	box-shadow: none !important;
}
.sHeaderInner .navbar-collapse ul li a.btn-orange-border:focus, .sHeaderInner .navbar-collapse ul li a.btn-orange-border:visited{
	box-shadow: none;
}

.sHeaderInner nav .dropdown>.dropdown-menu {

}

.sHeaderInner nav .dropdown:hover>.dropdown-menu {
	display: block;
	top: 33px;
}
.sHeaderInner .navbar-collapse>ul>li>ul{
	border: none;

	left: 15px;
	padding-top: 0;
	padding-bottom: 0px;
	border-bottom: 1px solid #ccc;
}

.dropdown .dropdown-menu.twoSideDropdown li {font: 15px/15px 'Sintony', sans-serif; color:#222; list-style:none;}

ul.dropdown-menu.twoSideDropdown {
    width: 300px;
	margin:0;
}

.dropdown .dropdown-menu.twoSideDropdown li ul.col-sm-6 {padding:0;}

.dropdown .dropdown-menu.twoSideDropdown li a{ color:#555;}


.dropdown .dropdown-menu.twoSideDropdown li:last-child {margin:0;}


@media (max-width: 1450px){
	.sHeaderInner .navbar-collapse>ul>li>ul{
		left: 10px;
	}
}


.sHeaderInner .navbar-collapse>ul>li>ul>li{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.sHeaderInner .navbar-collapse>ul>li>ul>li:first-child{
	border-top: 1px solid #ccc;

}
.sHeaderInner .navbar-collapse>ul>li>ul>li:last-child{
	border-radius: 0px 0px 3px 3px;
	overflow: hidden;
}
.sHeaderInner .navbar-collapse>ul>li>ul>li:hover>a, .dropdown .dropdown-menu.twoSideDropdown li ul li:hover a{
	background: #eee;
	text-decoration:none;
}
.sHeaderInner .navbar-collapse>ul>li>ul>li>a, .dropdown .dropdown-menu.twoSideDropdown li a{
	color: #333;
    font-size: 14px;
	display: block;
    white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
	/* text-align: center; */
    /* text-transform: uppercase; */
    position: relative;
    font-weight: 400;
	padding-top: 9px;
	padding-bottom: 9px;
	overflow: hidden;
}
.sHeaderInner .navbar-collapse>ul>li>ul>li:hover>a, {
	text-decoration: none;
}

.nav-item.dropdown{
	position: relative;
}
.nav-item.dropdown .droparrow{
	position: absolute;
	display: inline-block;
	width: auto;
	top: 6px;
	right: 10px;
	transition: all 0.35s ease;
}
.nav-item.dropdown:hover .droparrow{
	transform: rotate(-180deg);
}


@media (max-width: 1450px){
	.nav-item.dropdown .droparrow{
		right: 0px;
	}
}
@media (max-width: 1250px){
	.nav-item.dropdown .droparrow{
		right: -2px;
	}
}


@media (max-width: 1250px){
	.sHeaderInner .navbar-collapse>ul>li>a{
		font-size: 12px;
		font-weight: 400;
	}
}
@media (max-width: 1150px){
	.sHeaderInner .navbar-collapse>ul>li.hasBorderHov, .sHeaderInner .navbar-collapse>ul>li{
		padding: 0px 5px;
	}
	.sHeaderInner .navbar-collapse>ul>li>a{
		font-size: 12px;
		font-weight: 400;
	}
	.sHeaderInner .navbar-collapse>ul>li:last-child {
		padding: 0px 0px 0px 4px;
	}
	.sHeaderInner .navbar-collapse ul li a.btn-orange-border{
		font-size: 12px;
	}
	.sHeaderInner .navbar-collapse ul li a.btn-orange-bg{
		font-size: 12px;
	}
}


@media (max-width: 1070px){
	.sHeaderInner .navbar-collapse>ul>li.hasBorderHov, .sHeaderInner .navbar-collapse>ul>li{
		padding: 0px 3px;
	}
	.sHeaderInner .navbar-collapse>ul>li>a{
		font-size: 11px;
		font-weight: 400;
	}
	.sHeaderInner .navbar-collapse>ul>li:last-child {
		padding: 0px 0px 0px 3px;
	}
	.sHeaderInner .navbar-collapse ul li a.btn-orange-border{
		font-size: 11px;
	}
	.sHeaderInner .navbar-collapse ul li a.btn-orange-bg{
		font-size: 11px;
	}
}






@media (max-width: 768px)
{
	.sHeaderInner .navbar-collapse{
		/* background: #fff; */
		width: 100%;
		position: absolute;
		top: 100%;
	}
}




.navbar-brand{
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 15px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.navbar-brand img{
	height: 100px;
	width: auto;
	transition: all 0.2s ease;
}
.sHeader.shrinked .navbar-brand img{
	height: 70px;
}

@media (max-width: 1299px)
{
	.sHeader .navbar-brand img{
		height: 70px;
	}
}


.mainContent{
	padding-top: 100px;
}

@media (max-width: 1299px){
	.mainContent{
		padding-top: 72px;
	}
}

.homeMainSlider{
	height: 700px;
	/* background: #eee; */
	position: relative;
	overflow: hidden;
}
.homeMainSlider img{
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 70%;
	transform: translate(-70%, 0%);
}

.sliderText{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 7%;
	transform: translate(0%, -50%);
	max-width: 700px;
}
.sliderText h1{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 52px;
line-height: 42px;
	font-weight: 700;
}
.sliderText p{
	margin-top: 25px;
}




.sliderbg1{
	/* background:url(../img/slider-backround.jpg) center center no-repeat; */
	background-size: cover;
}




.slider {

    overflow: hidden;

}
.slider img {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.staticBgHomeSlider{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/slider-backround-non-chrome.jpg) no-repeat right center;
	background-size: cover;

}


.mouse-bg {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
	z-index: -1;
	transition: all 0.2s linear;
}
#background {
	background: url(../img/slider-backround.jpg) center center;
}

#foreground {
	background: url(../img/small-ballon.png) no-repeat 70% 80%;
}
#fore-foreground {
	background: url(../img/big-ballon.png) no-repeat 72% 40%;
}
#fore-fore-foreground {
	background: url(../img/clouds-image.png) no-repeat 70% 80%;
}





.servicesStrip{
	height: 135px;
	background: #fff;
}
.flexDiv{
	display: flex;
	flex: 1;
}
.servicesStrip ul{
	display: flex;
	flex: 1;
	margin: 0;
	padding: 0;
}
.servicesStrip ul li{
	display: flex;
	list-style: none;
	flex: 1;
}
.servicesStrip ul li a{
	height: 135px;
	display: flex;
	flex: 1;
	align-items: center;
    justify-content: center;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	color: #333;
	text-decoration: none;
	transition: all 0.5s ease;
	border-right: 1px solid #eee;
}
.servicesStrip ul li a:first-child{
	border-left: 1px solid #eee;
}
.servicesStrip ul li a:after{
	position: absolute;
	display: block;
	opacity: 0.5;
	content:"";
	height: 5px;
	width: 0px;
	left: 0;
	bottom: -5px;
	background: #ff8200;
	transition: all 0.5s ease;
}
.servicesStrip ul li:hover a{
	box-shadow: -3px 2px 3px 0px rgba(0,0,0, 0.1),  3px 2px 3px 0px rgba(0,0,0, 0.1);
}
.servicesStrip ul li:hover a:after{
	display: block;
	opacity: 1;
	width: 100%;
	transition: all 0.5s ease;
}
.servicesStrip ul li a:hover, .servicesStrip ul li a:focus, .servicesStrip ul li a:active, .servicesStrip ul li a:visited{
	color: #333;
	text-decoration: none;
}

.servicesStrip .sIcon{
	width: 50px;
	height: 50px;
	/* background: #ff8200; */
	margin-right: 20px;
	margin-top: -10px;
}
.servicesStrip .webAppIcon{
	 background: url(../img/iconsList.png) 0 0 ;
}
.servicesStrip .mobAppIcon{
	 background: url(../img/iconsList.png) -50px 0 ;
}
.servicesStrip .markIcon{
	 background: url(../img/iconsList.png) -100px 0 ;
}
.servicesStrip .supportIcon{
	 background: url(../img/iconsList.png) -150px 0 ;
}
.servicesStrip .staffIcon{
	 background: url(../img/iconsList.png) -200px 0 ;
}
.servicesStrip .staffMore {
    background: url(../img/iconsList.png) -246px 0;
}
.servicesStrip .sService span{
	display: block;
}
.visionStrip{
	height: 165px;
	text-align: center;
	padding-top: 65px;
	background: #f7f7f7;
}
.visionStrip small{
	color: #555;
	font-size: 18px;
	vertical-align: middle;
	margin-left: 15px;
}
.fullStrip{
	/* min-height: 350px; */
}
.homePromo{
	min-height: 700px;
	position: relative;

}
.promoLeft, .promoRight{
	height: 700px;
	background-size: cover;
}
.promoLeft{
	background: url(../img/promoBg.jpg) center center no-repeat;
	position: relative;
}
.promoLeft article{
	color: #fff;
	max-width: 650px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Source Sans Pro', sans-serif;
}
.promoLeft article span, .promoLeft article small{
	display: block;
}
.promoLeft article span{
	font-size: 60px;
	line-height: 45px;
	font-weight: 700;
}
.promoLeft article h2{
	font-size: 60px;
	line-height: 45px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}
.promoLeft article small:first-child{
	margin-top: 15px;
}
.promoLeft article small{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 1px;
}
.promoRight{
	position: static;
	background: url(../img/promoVid.jpg) center center no-repeat;
	cursor: pointer;
}

.video-background {
	display: none;
	background: #ff8200;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	z-index: 1;
	transition: all 1s ease;
	opacity: 0l
}
.video-background.megaShow{
	display: block;
	opacity: 1;
	left: 0;
	background: rgba(0,0,0, 0.5);
}

.video-foreground{
	/* display: none; */
}
.video-foreground, .video-background iframe {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	z-index: 15;
	max-width: 1250px;
	transform: translate(-50%);
}
.video-background iframe {

}

.closeMegaShow{
	position: absolute;
	top: 25px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(255,255,255, 0.15);
	border: 1px solid  rgba(255,255,255, 0.35);
	z-index: 150;
	transition: all 0.5s ease;
	text-align: center;
	color: rgba(255,255,255, 0.35);
	line-height: 38px;
	font-size: 28px;
	overflow: hidden;
	cursor: pointer;
	opacity: 0.65;
}
.closeMegaShow:hover{
	opacity: 1;
}
.video-background.megaShow:hover .closeMegaShow{
	display: block;
}

#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info {
	position: absolute;
	top: 0;
	right: 0;
	width: 33%;
	background: rgba(0,0,0,0.3);
	color: #fff;
	padding: 1rem;
	font-family: Avenir, Helvetica, sans-serif;
}
.vid-info h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-top: 0;
	line-height: 1.2;
}
.vid-info a {
	display: block;
	color: #fff;
	text-decoration: none;
	background: rgba(0,0,0,0.5);
	transition: .6s background;
	border-bottom: none;
	margin: 1rem auto;
	text-align: center;
}
@media (min-aspect-ratio: 16/9) {
	.video-foreground {
	  height: 100%;
	  top: 0;
	}
}
@media (max-aspect-ratio: 16/9) {
	.video-foreground {
		width: 100%;
		/* left: 0; */
	}
}
@media all and (max-width: 600px) {
	.vid-info {
		width: 100%;
		padding: .5rem;
	}
	.vid-info h1 {
		margin-bottom: .2rem;
	}
}
@media all and (max-width: 500px) {
	.vid-info .acronym {
		display: none;
	}
}


.homeOffers{
	min-height: 700px;
	background: url(../img/homeOffersBg.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 75px 0;
}
.homeOffers .container{
	position: relative;
	z-index: 1;
}
.homeOffers h1{
	font-size: 22px;
	text-align: center;
	font-weight: 700;
}
.homeOffers h1 span{
	display: inline-block;
	width: auto;
	position: relative;
}
.homeOffers h1 span:after{
	content: "";
	position: absolute;
	width: 70%;
	height: 2px;
	bottom: -15px;
	left: 15%;
	background-color: #ff8200;
}

.hasOverlayDark{
	position: relative;
}
.hasOverlayDark:after{
	position: absolute;
	content:"";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(29,39,41, 0.55);
}

.homeOffers .tabCon{
	margin: 60px auto 30px;
	max-width: 1100px;
}
.homeOffers .nav-tabs, .homeOffers .nav-tabs li{
	display: flex;
	justify-content: space-between;
}
.homeOffers .nav-tabs li a{
	font-size: 14px;
	position: relative;
	padding-left: 14px;
	padding-right: 14px;
	text-transform: uppercase;
}
.homeOffers .nav-tabs li a:after{
	position: absolute;
	content: "";
	display: block;
	width: 0%;
	opacity: 0.5;
	height: 2px;
	background: #ff8200;
	left: 0;
	bottom: -1px;
	transition: all 0.5s ease;
}
.homeOffers .nav-tabs li a.active:after, .homeOffers .nav-tabs li:hover a:after{
	opacity: 1;
	width: 100%;
}
.homeOffers .nav-tabs li a, .homeOffers .nav-tabs li a:hover, .homeOffers .nav-tabs li a.active{
	background: none;
	color: #fff;
	border: none;
}

.homeOffers .tabCon .nav-tabs{
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.homeOffers .tab-content{
	padding-top: 65px;
}
.homeOffers .tab-content p{
	margin: 0 auto 50px;
	max-width: 800px;
	text-align: center;
	font-size: 13px;
	line-height: 22px;
}

.homeOffers .tab-content h3{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.homeOffers .tab-content .tabIcon{
	display: inline-block;
	width: 85px;
	height: 85px;
	/* background: #fff; */
	margin-bottom: 20px;
}

.homeOffers .tab-content .tab-pane{
	text-align: center;
}

.btn-border{
	color: #fff;
	font-size: 13px;
	display: inline-block;
	padding: 7px 15px;
	text-transform: uppercase;
	border: 1px solid #fff;
	border-radius: 3px;
	text-decoration: none;
	transition: all 0.25s ease;
}
.btn-border:hover, .btn-border:focus, .btn-border:active, .btn-border:visited{
	color: #fff;
	text-decoration: none;
}
.btn-border:hover{
	background: #fff;
	color: #333;
}
.btn-border:active{
	box-shadow: 3px 3px 5px 0px rgba(0,0,0, 1);
}



.homeCLients{
	min-height: 475px;
	background: #f6f7f9;
	padding: 75px 0;
}
.homeCLients h1{
	font-size: 22px;
	text-align: left;
	font-weight: 700;
}
.homeCLients h1 span{
	display: inline-block;
	width: auto;
	position: relative;
}
.homeCLients h1 span:after{
	content: "";
	position: absolute;
	width: 70%;
	height: 2px;
	bottom: -15px;
	left: 0%;
	background-color: #ff8200;
}
.clients-carousel{
	padding: 15px 0 5px 0px;
	position: relative;
}
.clients-carousel .owl-stage-outer{
	padding-top: 30px;
}
.clients-carousel .item{
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0, 0.15);
	padding: 15px;
	height: 240px;
	position: relative;
}
.clients-carousel .item .quoteIcon{
	position: absolute;
	font-size: 40px;
	top: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	background: url(../img/iconsList.png) 0 -50px;

}
.clients-carousel .item a{
	color: #cecdcd;
	font-size: 12px;
}
.clients-carousel .owl-item{
	padding: 3px !important;
}
.clients-carousel .owl-nav{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 52px;
}
.clients-carousel .owl-nav .owl-prev , .clients-carousel .owl-nav .owl-next {
	width: 23px;
	height: 23px;
	text-align: center;
	background: #ff7a03;
	color: #fff;
	border-radius: 1px;
}
.clients-carousel .owl-nav .owl-prev{
	float: left;
}
.clients-carousel .owl-nav .owl-next{
	float: right;
}
.clients-carousel .owl-nav .owl-prev.disabled, .clients-carousel .owl-nav .owl-next.disabled{
	background: #ffbd81;
	pointer-events: none;
}

.clients-carousel .media-left{
	width: 110px;
	height: 110px;
	overflow: hidden;
}
.clients-carousel .media-object{
	width: 110px;
	height: auto;
	border-radius: 2px;
}
.clients-carousel .media-body{
	min-height: 110px;
	position: relative;
	padding-left: 15px;
}
.clients-carousel .media-body .clientDet{
	position: absolute;
	bottom: 0;
}
.clients-carousel .media-body .clientDet h4{
	margin: 0;
}
.clients-carousel .media-body .clientDet p{
	margin: 0;
}
.clients-carousel .clientQuote{
	margin-top: 20px;
	font-size: 15px;
	height: 44px;
	overflow: hidden;

}



.homeBlogPosts{
	min-height: 700px;
	background: #ffffff;
	padding: 75px 0;
}
.homeBlogPosts h1{
	font-size: 22px;
	text-align: left;
	font-weight: 700;
}
.homeBlogPosts h1 span{
	display: inline-block;
	width: auto;
	position: relative;
}
.homeBlogPosts h1 span:after{
	content: "";
	position: absolute;
	width: 70%;
	height: 2px;
	bottom: -15px;
	left: 0%;
	background-color: #ff8200;
}
.homeBlogPosts .owl-dots{
	text-align: center;
}
.homeBlogPosts .owl-dots .owl-dot{
	display: inline-block;
    zoom: 1;
}
.homeBlogPosts .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: #fff;
	border: 2px solid #ff8003;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.homeBlogPosts .owl-dots .owl-dot.active span, .homeBlogPosts .owl-dots .owl-dot:hover span {
    background: #ff8003;
}
.blogPosts-carousel{
	padding: 15px 0 5px 0px;
}
.blogPosts-carousel .owl-stage-outer{
	padding-top: 30px;
	padding-bottom: 50px;
}
.blogPosts-carousel .owl-item{
	padding: 3px;
}
.blogPosts-carousel .item{
	height: 440px;
	border-radius: 3px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.15);
}
.blogPostsImg{
	height: 218px;
	background: #eee;
    overflow:hidden;
}
.blogPostsImg img{
	display: block;
	width: 250px;
	height: 220px;
	object-fit: cover;
}
.blogPosts-carousel article{
	padding: 40px 30px 20px 30px;
	font-size: 12px;
}
.blogPosts-carousel article h3{
	font-size: 17px;
	margin-bottom: 15px;
}
.blogPosts-carousel article p{
	font-size: 12px;
	height: 55px;
	overflow: hidden;
}
.linkPlus{
	color: #333;
	display: block;
	font-size: 12px;
	font-weight: 700;
	margin-top: 15px;
}
.linkPlus:hover{
	text-decoration: none;
	color: #555;
}
.linkPlus span{
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 23px;
	color: #999;
	font-size: 26px;
	font-weight: 300;
	overflow: hidden;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0, 0.75);
	margin-right: 15px;
}
.caps{
	text-transform: uppercase;
}

.homeSocial{
	min-height: 625px;
	background: #ffffff;
	border-top: 1px solid #e9e9e9;
}
.homeSocialDiv{
	height: 625px;
	border-left: 1px solid #e9e9e9;
	padding: 75px 50px;
}
.homeSocialDiv:last-child{
	border-right: 1px solid #e9e9e9;
}
.socialTitle{
	color: #333;
	font-size: 22px;
	font-weight: 700;
}
.socialTitle span{
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
.socialTitle span.iconTwitter{
	background: url(../img/iconsList.png) 0 -100px;
}
.socialTitle span.iconFacebook{
	background: url(../img/iconsList.png) -50px -100px;
}
.socialTitle span.iconPinterest{
	background: url(../img/iconsList.png) -100px -100px;
}

.socialPosts{
	max-height: 425px;
	border-top: 15px solid #ffffff;
	overflow-y: auto;
}
blockquote.twitter-tweet {
  display: inline-block;
  padding: 0px;
  margin: 0px 0 0 0;
  max-width: 100%;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  color: #000;
}
blockquote.twitter-tweet .avatar{
	display: none;
}

blockquote.twitter-tweet p {

  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}
iframe span.socialPosts .TweetAuthor-avatar.Identity-avatar{
	display: none !important;
	opacity: 0;
}
iframe span.socialPosts .SandboxRoot.env-bp-min .TweetAuthor-avatar{
	display: none !important;
}




.homeSubscribe{
	min-height: 310px;
	text-align: center;
	padding: 75px 0;
	background: #f4f8fb;
}
.homeSubscribe h1{
	font-size: 22px;
	margin-bottom: 10px;
    font-weight: 700;
}
.homeSubscribe p{
	font-size: 14px;
}
.homeSubscribe .subCon{
	padding-top: 15px;
}
.homeSubscribe .subFiled{
	max-width: 765px;
	height: 72px;
	margin: 0 auto;
	border-top: 1px  solid #d8dcdf;
	border-bottom: 1px  solid #d8dcdf;
	display: flex;
	flex: 1;
	padding: 10px 0;

}
.homeSubscribe .subFiled .subFiledInput{
	padding-left: 5px;
	padding-right: 15px;
	display: flex;
	flex: 1;
}
.homeSubscribe .subFiled .subFiledInput input{
	width: 100%;
	border: none;
	box-shadow: none;
	padding-left: 15px;
	font-size: 13px;
	padding-right: 15px;
}
.homeSubscribe .subFiled .subFiledInput input:focus{
	/* border: 1px solid #eeeeee; */
	outline: none;
}

.homeSubscribe .subFiled  .subFiledBtn{
	min-width: 225px;
	max-width: 225px;
	display: flex;
	flex: 1;
	padding-left: 15px;
	padding-right: 5px;
	border-left: 1px  solid #d8dcdf;
}
.homeBtnPri{
	color: #fff;
	background: #ff8400;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
    font-weight: 700;
	border-radius: 2px;
	border-bottom: 2px solid #ff5a00;
	flex: 1;
	box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.35) inset !important;
}
.homeBtnPri:hover {
    background: #fd7100;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.35) !important;
}
.homeBtnPri:active {
    box-shadow: none !important;
}

footer.mainFooter{
	min-height: 385px;
	/* background: #f6f7f9; */
}
footer.mainFooter .footerContents{
	min-height: 330px;
	padding: 75px 0;
}
footer.mainFooter .fLogo{
	opacity: 0.35;
	text-align: center;
}
footer.mainFooter .fLogo img{
	display: inline-block;
}
footer.mainFooter .fSocials{
	text-align: center;
	padding: 35px 0 15px 0;
}
footer.mainFooter .fSocials .socialIcon{
	width: 37px;
	height: 37px;
	display: inline-block;
	background: #ff8200;
	border-radius: 50%;
	margin-left: 26px;
	color: #fff;
	vertical-align: middle;
	padding: 0;
	line-height: 37px;
	font-size: 18px;
}
footer.mainFooter .fSocials .socialIcon:hover{
 box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.35) !important;
}
footer.mainFooter .fSocials .socialIcon:active{
	cursor: pointer;
	box-shadow: none !important;
}
footer.mainFooter .fSocials .socialIcon:first-child{
	margin-left: 0;
}
footer.mainFooter .fNav{

}
footer.mainFooter .fNav ul{
	margin: 0;
	padding: 15px 0 25px 0;
	text-align: center;
}
footer.mainFooter .fNav ul li{
	display: inline-block;
	list-style: none;
}
footer.mainFooter .fNav ul li a{
	text-transform: uppercase;
	color: #333;
    font-size: 14px;
	font-weight: 700;
	padding-left: 20px;
	padding-right: 20px;
}
footer.mainFooter .fNav ul li a:hover{
	text-decoration: none;
	color: #777;
}
footer.mainFooter .fNav ul li.active a{
	color: #777;
}
footer.mainFooter .fLinks{
	text-align: center;
	max-width: 745px;
	margin: 0 auto;
}
footer.mainFooter .fLinks a{
	display: inline-block;
	color: #8a8a8a;
	font-size: 13px;
	padding-left: 7px;
	padding-right: 7px;
}
footer.mainFooter .copyright{
	min-height: 55px;
	background: #ececec;
	box-shadow: inset 0px 2px 0px 1px rgba(234, 234, 234, 1), inset 0px 5px 0px 1px rgba(234, 234, 234, 1) !important;
	padding-top: 20px;
}
footer.mainFooter .copyright p{
	color: #333;
	text-align: center;
	font-size: 13px;
	padding: 0;
	margin: 0;
}





/* About Page */

.pageBanner{
	margin-top: 45px;
	height: 635px;
	background: #eee;
	overflow-x: hidden;
	position: relative;
}
.pageBanner article {
    color: #fff;
    max-width: 650px;
    width: 100%;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    font-family: 'Source Sans Pro', sans-serif;
}
.pageBanner article h2 {
    font-size: 60px;
    line-height: 45px;
    font-weight: 700;
	padding: 0;
	margin: 0 0 0 -15px;
}
.pageBanner article small {
    font-size: 20px;
    line-height: 24px;
	line-height: 22px;
	/* line-height: 42px; */
    font-weight: 400;
	/* padding: 5px; */
	color: #ffffff;
   /*  letter-spacing: 1px; */
	/* color: #3a5266; */
	/* background: #fff;
	box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff; */
}



.pageBanner img{
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 70%;
	transform: translate(-70%, 0%);
}


.aboutArticle{
	min-height: 250px;
}
.aboutArticle .articleBody{
	padding: 65px 30px 70px 50px;
	text-align: justify;
}

.aboutArticle p {
    font-size: 14px;
}

p.firstxl::first-letter{
	font-weight: 700;
	font-size: 22px;
}

.largeLink{
	font-size: 18px;
	color: #ff8200;
}

.largeLink:hover{
	text-decoration: none;
	color: #ff5a00;
}
.largeLink:active{
	color: #ff5a00;
}
.largeLink:focus{
	color: #ff8200;
}


article h1 {
    font-size: 22px;
    text-align: left;
    font-weight: 700;
	margin-bottom: 25px;
}
article h1 span {
    display: inline-block;
    width: auto;
    position: relative;
}
article h1 span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0%;
    background-color: #ff8200;
}

article h3 {
    font-size: 22px;
    text-align: left;
    font-weight: 700;
	margin-bottom: 25px;
}
article h3 span {
    display: inline-block;
    width: auto;
    position: relative;
}
article h3 span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0%;
    background-color: #ff8200;
}


.articleBody .largeCaption {
    display: inline;
    background: #f7f7f7;
	padding: 5px;
	margin-left: 0px;
	color: #333;
	font-size: 20px;
    line-height: 42px;
	box-shadow: 10px 0 0 #f7f7f7, -10px 0 0 #f7f7f7;
	position: relative;
}


.articleBody .largeCaptionCon{
	padding-top: 32px;
	padding-left: 50px;
	position: relative;
}

.articleBody .largeCaptionCon:before{
    position: absolute;
	display: block;
	content:"";
    font-size: 40px;
    top: 0px;
    left: -25px;
    width: 50px;
    height: 50px;
    background: url(../img/iconsList.png) 0 -50px;
}
.articleBody .largeCaptionCon:after{
    position: absolute;
	display: block;
	content:"";
    font-size: 40px;
    bottom: -40px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: url(../img/iconsList.png) 0 -50px;
	transform: rotate(-180deg);
}

.aboutPeopleCon{
	margin-top: 50px;
	margin-bottom: 50px;
}
figure.aboutPeople{
	height: 370px;
	overflow-x: hidden;
	position: relative;
	margin-bottom: 30px;
}
figure.aboutPeople img{
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}
figure.aboutPeople .aboutDetails{
	position: absolute;
	background: rgba(255,255,255, 0.9);
	width: 100%;
	display: block;
	min-height: 70px;
	bottom: 0;
	left: 0;
	padding: 15px 25px;
}
figure.aboutPeople .aboutDetails h3{
	font-size: 17px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}
figure.aboutPeople .aboutDetails p{
	font-size: 14px;
	font-weight: 400;
	color: #555;
	padding: 0;
	margin: 0;
}

h1.mainHeading {
    font-size: 22px;
    text-align: left;
    font-weight: 700;
	margin-bottom: 50px;
}
h1.mainHeading span {
    display: inline-block;
    width: auto;
    position: relative;
}
h1.mainHeading span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0%;
    background-color: #ff8200;
}

h2.mainHeading {
    font-size: 22px;
    text-align: left;
    font-weight: 700;
	margin-bottom: 50px;
}
h2.mainHeading span {
    display: inline-block;
    width: auto;
    position: relative;
}
h2.mainHeading span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0%;
    background-color: #ff8200;
}

.conShadowLH{
	box-shadow: -2px 0px 3px 0px rgba(0,0,0, 0.1), 2px 0px 3px 0px rgba(0,0,0, 0.1);
}

.contentsCon{
	padding: 50px 40px;
}

.noMargin{
	margin: 0px;
}
.noPadding{
	padding: 0px;
}
.noPaddingTop{
	padding-top: 0px;
}

.servicesBoxCon{
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: 50px;
}

.servicesBox{

	/* height: 320px; */

	height: auto;
	max-height: 465px;
	border: 1px solid #fff;
	display: block;
	cursor: pointer;

	overflow: hidden;
}




.servicesBox figure {
	position: relative;
	float: left;
	overflow: hidden;
	max-height: 360px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	margin: 0 0 0 0;
}

.servicesBox figure>img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.servicesBox figure figcaption {
	padding-top: 50px;
	color: #fff;
	font-size: 14px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.servicesBox figure figcaption::before,
.servicesBox figure figcaption::after {
	pointer-events: none;
}

.servicesBox figure figcaption,
.servicesBox figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
	position: relative;
	background: rgba(0,0,0, 0.8);
	transition: all 0.35s ease;

}
figure.effect-ruby:hover{
	background: rgba(252,109,23, 1);
}


figure.effect-ruby>img {
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover>img {
	opacity: 0.7;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}


figure.effect-ruby figcaption .arrow1{
	opacity: 0;
	display: inline-block;
	width: auto;
	transition: all 0.5s ease;
	transform: translate3d(-30px,0px,0) scale(1);
}


figure.effect-ruby h2 span{
	display: block;
}

figure.effect-ruby p {
	margin: 15px auto 25px;
	padding: 0 25px;
	opacity: 0;
	font-size: 14px;
	line-height: 18px;
	max-width: 400px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
}

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby figcaption .imgIcon{
	width: 85px;
	height: 85px;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby:hover figcaption .imgIcon{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transform: rotatey(180deg);
}

figure.effect-ruby figcaption .imgIcon.f1{
	    background: url(../img/servicesIcons.png) 0 0;
}
figure.effect-ruby:hover figcaption .imgIcon.f1{
	    background: url(../img/servicesIcons.png) -85px 0;
}

figure.effect-ruby figcaption .imgIcon.f2{
	    background: url(../img/servicesIcons.png) 0 -85px;
}
figure.effect-ruby:hover figcaption .imgIcon.f2{
	    background: url(../img/servicesIcons.png) -85px -85px;
}

figure.effect-ruby figcaption .imgIcon.f3{
	    background: url(../img/servicesIcons.png) 0 -170px;
}
figure.effect-ruby:hover figcaption .imgIcon.f3{
	    background: url(../img/servicesIcons.png) -85px -170px;
}

figure.effect-ruby figcaption .imgIcon.f4{
	    background: url(../img/servicesIcons.png) 0 -255px;
}
figure.effect-ruby:hover figcaption .imgIcon.f4{
	    background: url(../img/servicesIcons.png) -85px -255px;
}

figure.effect-ruby figcaption .imgIcon.f5{
	    background: url(../img/servicesIcons.png) 0 -340px;
}
figure.effect-ruby:hover figcaption .imgIcon.f5{
	    background: url(../img/servicesIcons.png) -85px -340px;
}

figure.effect-ruby figcaption .imgIcon.f6{
	    background: url(../img/servicesIcons.png) 0 -425px;
}
figure.effect-ruby:hover figcaption .imgIcon.f6{
	    background: url(../img/servicesIcons.png) -85px -425px;
}





figure.effect-ruby:hover figcaption .arrow1{
	transform: translate3d(0,0,0);
	opacity: 1;
}


figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}






.industryBoxCon{
	margin-top: 35px;
	margin-bottom: 70px;
	margin-left: 0;
	margin-right: 0;
	border-top: 1px solid #e3e3e3;
	position: relative;
}
.industryBoxCon:after{
	position: absolute;
	display: block;
	content: "";
	width: 1px;
	top: 0;
	bottom: 0;
	right: 0;
	background: #fff;
}
.industryBoxCon .industryBox{
	height: 240px;
	padding: 35px 40px;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	text-align: center;
	background: #fff;
	transition: all 0.35s ease;
}

.industryBoxCon .industryBox h4{
	color: #ff8400;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.industryBoxCon .industryBox p{
	font-size: 13px;
}




.industryBoxCon .industryBox:hover{
	background: #ff8400;
	border: none;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: scale(1.025);
	z-index: 1;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0, 0.125);
}
.industryBoxCon .industryBox:hover h4, .industryBoxCon .industryBox:hover p{
	color: #fff;
}


.industryBoxCon .imgIconSmall{
	width: 65px;
	display: inline-block;
	height: 65px;
	background: #bbb;
	opacity: 0.7;
}
.industryBoxCon .industryBox:hover .imgIconSmall{
	opacity: 1;
}


.industryBoxCon .imgIconSmall.i1{
	background: url(../img/IndustriesIcons.png) 0px 0px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i1{
	background: url(../img/IndustriesIcons.png) -65px 0px;
}

.industryBoxCon .imgIconSmall.i2{
	background: url(../img/IndustriesIcons.png) 0px -65px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i2{
	background: url(../img/IndustriesIcons.png) -65px -65px;
}

.industryBoxCon .imgIconSmall.i3{
	background: url(../img/IndustriesIcons.png) 0px -130px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i3{
	background: url(../img/IndustriesIcons.png) -65px -130px;
}

.industryBoxCon .imgIconSmall.i4{
	background: url(../img/IndustriesIcons.png) 0px -195px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i4{
	background: url(../img/IndustriesIcons.png) -65px -195px;
}

.industryBoxCon .imgIconSmall.i5{
	background: url(../img/IndustriesIcons.png) 0px -260px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i5{
	background: url(../img/IndustriesIcons.png) -65px -260px;
}

.industryBoxCon .imgIconSmall.i6{
	background: url(../img/IndustriesIcons.png) 0px -325px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i6{
	background: url(../img/IndustriesIcons.png) -65px -325px;
}

.industryBoxCon .imgIconSmall.i5{
	background: url(../img/IndustriesIcons.png) 0px -260px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i5{
	background: url(../img/IndustriesIcons.png) -65px -260px;
}

.industryBoxCon .imgIconSmall.i6{
	background: url(../img/IndustriesIcons.png) 0px -325px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i6{
	background: url(../img/IndustriesIcons.png) -65px -325px;
}

.industryBoxCon .imgIconSmall.i7{
	background: url(../img/IndustriesIcons.png) 0px -390px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i7{
	background: url(../img/IndustriesIcons.png) -65px -390px;
}

.industryBoxCon .imgIconSmall.i8{
	background: url(../img/IndustriesIcons.png) 0px -455px;
}
.industryBoxCon .industryBox:hover .imgIconSmall.i8{
	background: url(../img/IndustriesIcons.png) -65px -455px;
}










.activitiesCon{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 70px;
	display: flex;
	flex: 1;
}
.activitiesCon .activityLeftCon{
	height: 550px;
	background: #eee;
	position: relative;
	z-index: 1;
	box-shadow: 15px 15px 25px 0px rgba(0,0,0, 0.15);
	background: url(../img/activitiesBanner.jpg) center center no-repeat;
	background-size: cover;
}

.activityListCon{
	display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.activityListCon .activityList{
	width: 100%;
	margin: 0 0 0 0px;
	padding: 0;
}
.activityListCon .activityList li{
	list-style: none;
	background: #ececec;
	padding-left: 25px;
	padding-right: 25px;
	height: 155px;
	border-bottom: 5px solid #fff;
	display: flex;
	align-items: center;
	transition: all 0.35s ease;
}
.activityListCon .activityList li:hover{
	background: #ff8400;
}

.activityListCon .activityList li h1{
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}
.activityListCon .activityList li:hover h1{
	color: #fff;
}
.activityListCon .activityList li p{
	font-size: 13px;
	margin-bottom: 0;
}
.activityListCon .activityList li:hover p{
	color: #fff;
}

.activityListCon .activityList li h1.mainHeading span:after{
	bottom: -5px;
}
.activityListCon .activityList li:hover h1.mainHeading span:after{
	background: rgba(255, 255, 255, 0.5);
}
.activityListCon .activityList li:nth-child(even){
	border-left: 5px solid #fff;
}







.technologyBoxCon{
	margin-top: 35px;
	margin-bottom: 70px;
	margin-left: 0;
	margin-right: 0;
	border-top: 1px solid #e3e3e3;
	position: relative;
}
.technologyBoxCon:after{
	position: absolute;
	display: block;
	content: "";
	width: 2px;
	top: 0;
	bottom: 0;
	right: 0;
	background: #fff;
}
.technologyBoxCon .technologyBox{
	height: 240px;
	padding: 30px 35px;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	text-decoration: none;
	transition: background 0.35s ease;
	position: relative;
	z-index: 0;
}

.technologyBoxCon .technologyBox h4{
	color: #333;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.technologyBoxCon a.technologyBox p{
	font-size: 13px;
	color: #333;
}
.technologyBoxCon .technologyBox p span{
	font-size: 12px;
	color: #777;
}




.technologyBoxCon .technologyBox:hover{
	z-index: 7;
	background: rgba(255, 132, 0, 1);
	border: none;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: scale(1.025);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0, 0.125);
}
.technologyBoxCon .technologyBox:hover h4, .technologyBoxCon a.technologyBox:hover p{
	color: #fff;
}
.technologyBoxCon .technologyBox:hover p span{
	font-size: 12px;
	color: #eee;
}

.imgIconSmall{
	width: 150px;
	display: inline-block;
	height: 65px;
	background: #bbb;
	transition: all 0.35s ease;
}
.imgIconSmall.t1{
	background: url(../img/TechnologiesIcons.png) 0px 0px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t1{
	background: url(../img/TechnologiesIcons.png) -150px 0px;
}

.imgIconSmall.t2{
	background: url(../img/TechnologiesIcons.png) 0px -65px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t2{
	background: url(../img/TechnologiesIcons.png) -150px -65px;
}

.imgIconSmall.t3{
	background: url(../img/TechnologiesIcons.png) 0px -130px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t3{
	background: url(../img/TechnologiesIcons.png) -150px -130px;
}

.imgIconSmall.t4{
	background: url(../img/TechnologiesIcons.png) 0px -195px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t4{
	background: url(../img/TechnologiesIcons.png) -150px -195px;
}

.imgIconSmall.t5{
	background: url(../img/TechnologiesIcons.png) 0px -260px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t5{
	background: url(../img/TechnologiesIcons.png) -150px -260px;
}

.imgIconSmall.t6{
	background: url(../img/TechnologiesIcons.png) 0px -325px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t6{
	background: url(../img/TechnologiesIcons.png) -150px -325px;
}

.imgIconSmall.t7{
	background: url(../img/TechnologiesIcons.png) 0px -390px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t7{
	background: url(../img/TechnologiesIcons.png) -150px -390px;
}

.imgIconSmall.t8{
	background: url(../img/TechnologiesIcons.png) 0px -455px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t8{
	background: url(../img/TechnologiesIcons.png) -150px -455px;
}

.imgIconSmall.t9{
	background: url(../img/TechnologiesIcons.png) 0px -520px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t9{
	background: url(../img/TechnologiesIcons.png) -150px -520px;
}

.imgIconSmall.t10{
	background: url(../img/TechnologiesIcons.png) 0px -585px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t10{
	background: url(../img/TechnologiesIcons.png) -150px -585px;
}

.imgIconSmall.t11{
	background: url(../img/TechnologiesIcons.png) 0px -650px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t11{
	background: url(../img/TechnologiesIcons.png) -150px -650px;
}

.imgIconSmall.t12{
	background: url(../img/TechnologiesIcons.png) 0px -715px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t12{
	background: url(../img/TechnologiesIcons.png) -150px -715px;
}

.imgIconSmall.t13{
	background: url(../img/TechnologiesIcons.png) 0px -780px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t13{
	background: url(../img/TechnologiesIcons.png) -150px -780px;
}

.imgIconSmall.t14{
	background: url(../img/TechnologiesIcons.png) 0px -845px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t14{
	background: url(../img/TechnologiesIcons.png) -150px -845px;
}

.imgIconSmall.t15{
	background: url(../img/TechnologiesIcons.png) 0px -910px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t15{
	background: url(../img/TechnologiesIcons.png) -150px -910px;
}

.imgIconSmall.t16{
	background: url(../img/TechnologiesIcons.png) 0px -975px;
}
.technologyBoxCon .technologyBox:hover .imgIconSmall.t16{
	background: url(../img/TechnologiesIcons.png) -150px -975px;
}




.innerPages .category-filter{
	margin-top: 50px;
}

.category-filter{
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ff8200;
}
.category-filter li{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}

.category-filter li a{
	display: block;
	text-decoration: none;
	color: #333;
	font-weight: 700;
	font-size: 15px;
	padding: 5px 20px;
}
.category-filter li a.active{
	border-left: 1px solid #ff8200;
	border-top: 1px solid #ff8200;
	border-right: 1px solid #ff8200;;
}

.technologyBox.filter{
	position: relative;
	/* transition: all 0.35s ease; */
}

.technologyBox.filter{
	position: relative;
	/* transition: all 0.35s ease; */
}


.innerPageBanner {
    height: 470px;
    background: #000;
    overflow-x: hidden;
    position: relative;
}
.innerPageBanner img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.innerPageBanner article {
    color: #fff;
    max-width: 500px;
    width: 100%;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate(0%, -50%);
    font-family: 'Source Sans Pro', sans-serif;
}

.innerPageBanner.technolgyInnerBanner{ background: #eff1f5; }


.innerPageBanner.technolgyInnerBanner article, .innerPageBanner.technolgyInnerBanner .largeCaption {
	color:#222;
}

.innerPageBanner.technolgyInnerBanner .technologyLogo {
	float:left;
	 transform: translate(0%, -50%);
	position:absolute;
	right:300px;
	top: 35%;
}

.innerPageBanner.technolgyInnerBanner .technologyLogo img { width:auto; height:auto;}


.innerPageBanner .largeCaption {
    display: inline;
    /* background: #ffffff; */
	/* padding: 5px; */
	margin-left: 0px;
	color: #ffffff;
	font-size: 19px;
    line-height: 20px;
	/* line-height: 40px; */
	/* box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff; */
	position: relative;
	font-family: 'Sintony', sans-serif;
}


.innerPageBanner.largeCaptionCon{
	padding-top: 32px;
	padding-left: 80px;
	position: relative;
}

.innerPageBanner .largeCaption:before{
    position: absolute;
	display: block;
	content:"";
    font-size: 40px;
    top: -15px;
    left: -70px;
    width: 50px;
    height: 50px;
    background: url(../img/iconsList.png) 0 -50px;
}
.innerPageBanner .largeCaption:after{
    position: absolute;
	display: block;
	content:"";
    font-size: 40px;
    bottom: -40px;
    right: -80px;
    width: 50px;
    height: 50px;
    background: url(../img/iconsList.png) 0 -50px;
	transform: rotate(-180deg);
}






.borderBottomCenter{
	position: relative;
}
.borderBottomCenter:after{
	display: block;
	content: "";
	position: absolute;
	height: 2px;
	width: 80px;
	bottom: -15px;
	left: 50%;
	background: #ff8400;
	transform: translatex(-40px);
}
.bannerCaption{
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 70px;
	font-family: 'Sintony', sans-serif;
}

.borderBottomLeftBold{
	position: relative;
	display: block;
}
.borderBottomLeftBold:after{
	display: block;
	content: "";
	position: absolute;
	height: 4px;
	width: 60px;
	bottom: -15px;
	left: 0;
	background: #ff8400;
}

.pBlocklarge{
	max-width: 1100px;
	line-height: 26px;
	margin-left: auto;
	margin-right: auto;
	text-align:justify;
}

.twinSection{
    margin-left: 30px;
    margin-right: 30px;
	margin-top: 75px;
    margin-bottom: 50px;
}
.twinSection .imgCon, .twinSection .textCon{
	height: 375px;
}
.twinSection .imgCon{
	overflow-x: hidden;
    position: relative;
}
.twinSection .imgCon img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.twinSection .textCon{
	padding-left: 40px;
	padding-right: 40px;
}
.twinSection .textCon article{
	display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.twinSection .textCon article h3{
	font-size: 22px;
	margin-bottom: 30px;
}

.twinSection .textCon article p{
	font-size: 14px;
}



.doListCon{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 85px;
    margin-bottom: 50px;
}
.doListCon h3{
	margin-top: 45px;
	font-size: 34px;
	line-height: 20px;
}
.doListCon small{
	font-size: 16px;
}

.doListCon ul{
	margin: 0;
	padding: 0;
	position: relative;
}
.doListCon ul:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 1);
	left: 0;
	bottom: 0;
}
.doListCon ul li{
	list-style: none;
	padding: 0px 50px 0 50px;
}
.doListCon ul li a{
	display: block;
	border:0;
	position: relative;
	margin-top: 35px;
}
.doListCon ul li a h4 {
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 30px;
    border: 0;
	color:#555;
}
.doListCon ul li a p{
	font-size: 14px;
	line-height: 21px;
}
.doListCon ul li a span.countDis {
    display: block;
    line-height: 32px;
    height: 31px;
    width: 55px;
    position: absolute;
    text-align: center;
    color: #ff8400;
	border:0;
    top: 0px;
    left: -75px;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Sintony', sans-serif;
}


.bottomQuoteCon{

}
.bottomQuote{
	color: #fff;
	text-align: center;
	background: #ff8400 url(../img/background-pattern-vector.svg);
	position: relative;
	height: 275px;
	display: flex;
    flex: 1;
	justify-content: center;
    flex-direction: column;
}
.bottomQuote .btn{
	margin-top: 15px;
	cursor: pointer;
	font-weight: 700;
	padding-left: 25px;
	padding-right: 25px;
	background: #fff;
}
.bottomQuote .btn:hover{
	box-shadow: none;
}
.bottomQuote button.btn:active{
	box-shadow: 0px 0px 7px 0px rgba(0,0,0, 0.75);
}
.bottomQuote .btn:focus{
	box-shadow: none;
}





.mapCon{
	max-height: 520px;
	min-height: 250px;
	position: relative;
}
.goToRound{
	width: 64px;
	height: 64px;
	bottom: -33px;
	background: #ffffff;
	justify-content: center;
	cursor: pointer !important;
	z-index: 1;
	align-items: center;
	display: flex;
	flex: 1;
	color: #ff8400 !important;
	right: 70px;
	position: absolute;
	font-size: 26px;
	border-radius: 50%;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.15);
	transition: all 0.25s ease;
}
.goToRound:hover{
	text-decoration: none;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.35);
}
.goToRound:active{
	box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.05);
}

.mapCon img{
	width: 100%;
	height: auto;
}

.relativeCon{
	position: relative;
}



.contactList{
	margin-left: -40px;
	margin-right: -40px;
}

.contentsCon h2 {
    font-size: 25px;
    margin: 30px 0 40px 0;
}

.contactList ul{
	padding: 0;
	margin: 0 0 50px 0;
}
.contactList ul li{
	list-style: none;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
	border-bottom: 1px solid #e9e9e9;
}
.contactList ul li:nth-child(odd){
	border-right: 1px solid #e9e9e9;
}
.contactList ul li a{
	display: inline-block;
	width: 100%;
	text-align: left;
	max-width: 320px;
	position: relative;
}
.contactListCount{
	position: absolute;
	top: -10px;
	left: -70px;
	width: 50px;
	height: 50px;
}
.contactList ul li a h3 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 10px;
	font-weight: 100;
}

.contactList ul li a p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #555;
}

.hasPreIcon{
	padding-left: 25px;
	position: relative;
}

.hasPreIcon span{
	position: absolute;
	top: 0;
	left: 0;
}

.contentsCon h3{font-size:27px;}

.countBubble{
	position: relative;
	background: #ff6c12;
	color: #ffffff;
	line-height: 35px;
	font-weight: 700;
	width:35px;
	height:35px;
	font-size: 20px;
	border-radius: 2px;
	margin:13px 0 0 18px;
	text-align: center;
}

.countBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #ff6c12;;
	border-bottom: 0;
	margin-left: -5px;
	margin-bottom: -5px;
}






.spForm{
	margin: 30px 0;
}

.spForm .form-group{
	margin-bottom: 25px;
}

.spForm input{
	border-radius: 1px;
	height: 45px;
	border-color: #d7e2ed;
	font-size: 13px;
	padding-left: 25px;
	box-shadow:inset 0px 0px 2px 2px #ffffff, inset 0px 2px 1px 0px rgba(255,255, 255, 1),  inset 0px 2px 0px 2px #eef5fb;
}
.spForm select{
	border-radius: 1px;
	height: 45px;
	border-color: #d7e2ed;
	font-size: 13px;
	padding-left: 25px;
	box-shadow:inset 0px 0px 2px 2px #ffffff, inset 0px 2px 1px 0px rgba(255,255, 255, 1),  inset 0px 2px 0px 2px #eef5fb;
}

.spForm textarea{
	border-radius: 1px;
	border-color: #d7e2ed;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 15px;
	margin-bottom: 30px;
	box-shadow:inset 0px 0px 2px 2px #ffffff, inset 0px 2px 1px 0px rgba(255,255, 255, 1),  inset 0px 2px 0px 2px #eef5fb;
	resize: none;
}

.btn-orange {
    color: #fff;
    background: #ff8400;
	border-radius: 2px;
    border-bottom: 2px solid #ff5a00;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
	box-shadow: 0px -1px 0px 1px rgba(255, 255, 255, 0.15) inset !important;
	cursor: pointer;
}
.btn-orange:active, .btn-orange:focus {
    box-shadow: none !important;
}
.btn-orange:hover{
	background: #fd7100;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35) !important
}


.modal-content .spForm{
	margin: 0px;
}

.modal-content .spForm .modal-body{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 700px;
	margin: 0 auto;
}

.modal-content .spForm .modal-header{
	    background: #ff8400;
		color: #fff;
}
.modal-content .spForm .modal-footer{
	    background: #eeeeee;
}
.modal-content .spForm .modal-title{
	text-align: center;
	width: 100%;
	display: block;
	font-size: 22px;
}

.modal-content .spForm .modal-header .close{
	color: #ffffff;
	text-shadow: none;
	font-size: 42px;
	cursor: pointer;
}



/* .fb-page,
.fb-page span,
.fb-page span iframe[style] {
    width: 100% !important;
} */

.fb-page{
	margin: 0 auto;
}




@media only screen and (max-width : 1799px) {
	.pageBanner{
		margin-top: 0;
	}
}



@media only screen and (max-width : 1449px) {
	.servicesBox figure figcaption{
		padding-top: 15px;
	}
	figure.effect-ruby p{
		    margin: 10px auto 10px;
	}
	.industryBoxCon .industryBox{
		padding: 15px 15px;
	}
	.twinSection .textCon {
		padding-left: 25px;
		padding-right: 25px;
	}
	.twinSection .textCon article p{
		text-align: justify;
	}
	.twinSection .textCon article h3{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.twinSection .textCon article h3.borderBottomLeftBold:after{
		height: 3px;
		bottom: -10px;
	}
	.homePromo, .promoLeft, .promoRight{
		min-height: 550px;
		height: 550px;
	}
	.promoLeft article {
    max-width: 575px
	}

}

.sHeaderInner nav .dropdown:hover>.dropdown-menu.twoSideDropdown.TopPd {
    top: 35px !important;
}





@media only screen and (max-width : 1399px) {
	.sHeader{
		height: 76px;
	}
	.sHeaderInner, .navbar-brand img{
		height: 75px;
	}
	.mainContent {
	    padding-top: 75px;
	}
	.sliderText p{
		font-size: 14px;
	}
	.homeMainSlider{
		height: 475px;
	}
	.sliderText h1{
		font-size: 41px;
		line-height: 34px;
	}
	.visionStrip{
		height: auto;
		min-height: 120px;
		padding-top: 50px;
	}
	.visionStrip h3{
		font-size: 1.55em;
	}
	.homePromo, .promoLeft, .promoRight{
		min-height: 450px;
		height: 450px;
	}
	.promoLeft article{
		max-width: 500px;
	}
	.promoLeft article span {
		font-size: 50px;
		line-height: 45px;
		font-weight: 700;
	}
	.promoLeft article h2 {
		font-size: 50px;
		line-height: 45px;
		font-weight: 700;
		padding: 0;
		margin: 0;
	}
	.promoLeft article small{
		font-size: 19px;
		line-height: 22px;
	}
	.homeCLients, .homeBlogPosts, .homeSubscribe{
		padding: 65px 0;
	}
	.homeCLients h1, .homeBlogPosts h1{
		font-size: 21px;
	}
	.pageBanner{
		height: 500px;
	}
	.pageBanner article h2 {
		font-size: 50px;
		line-height: 40px;

	}
	.pageBanner article small{
		font-size: 18px;
		/* line-height: 40px; */
	}
	.innerPageBanner {
		height: 375px;
	}
	.doListCon h3 {
		margin-top: 45px;
		font-size: 30px;
		line-height: 20px;
	}
	.doListCon ul li a h4 {
		font-size: 22px;
	}
	.doListCon ul li a span.countDis {
		font-size: 30px;
	}


}






@media only screen and (max-width : 1199px) {
	.servicesStrip .sIcon{
		margin-right: 10px;
	}
	.servicesStrip ul li a{
		font-size: 13px;
		line-height: 22px;
	}
	.homePromo{
		height: auto;
		min-height: 400px;
	}
	.promoLeft, .promoRight{
		min-height: 400px;
		height: 400px;
	}
	.promoLeft article{
		max-width: 400px;
	}
	.promoLeft article span {
		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
	}
	.promoLeft article h2 {
		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
		padding: 0;
		margin: 0;
	}
	.promoLeft article small{
		line-height: 20px;
		font-size: 18px;
	}
	.video-background{

	}
	.video-foreground, .video-background iframe{
		    left: 0;
			top: 50%;
			max-height: 500px;
			transform: translatex(0%);
			transform: translatey(-50%);
	}
	.blogPosts-carousel .item{
		min-height: 440px;
		height: auto;
	}
	.visionStrip {
		height: auto;
		min-height: 120px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.servicesBox{
		max-width: 354px;
		margin: 0 auto;
	}
	.servicesBox figure figcaption{
		padding-top: 5px;
	}
	figure.effect-ruby p{
		    margin: 5px auto 5px;
			line-height: 14px;
	}
	figure.effect-ruby h2{
		line-height: 18px;
	}
	h1.mainHeading{
		font-size: 18px;
		margin-bottom: 35px;
	}
	.contentsCon{
		padding: 30px 25px;
	}
	.servicesBoxCon {
		margin-left: -25px;
		margin-right: -25px;
	}
	.contactList{
		margin-left: -25px;
		margin-right: -25px;
	}
	.noPaddingTop{
		padding-top: 0px;
	}
	.innerPageBanner article{
		left: 30px;
	}
	.innerPageBanner .largeCaptionCon{
		padding-left: 75px;
	}
	.doListCon h3 {
		font-size: 26px;
	}
	.doListCon ul li a h4 {
		font-size: 1.3rem;
	}
	.doListCon ul li a span.countDis {
		height: 35px;
		width: 40px;
		left: -40px;
		font-size: 27px;
	}
	.pBlocklarge{
		font-size: 14px;
		text-align: justify;
	}
	.doListCon {
		margin-top: 50px;
	}
	.twinSection{
		margin-left: 0px;
		margin-right: 0px;
	}
	.technologyBoxCon .technologyBox {
		height: 250px;
		padding: 15px 25px
	}

}

.staticBgHomeSliderSmall{
		background: url(../img/sliderBgSmall.jpg) right center;
		background-size: cover;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
}



@media only screen and (max-width : 1099px) {
	.hideFor1099{
		display: none;
	}
	.homeMainSlider{
		height: 500px;
	}
	.sliderText h1 {
		font-size: 26px;
    line-height: 15px;
	}
	.sliderText{
		max-width: 550px;
	}
}

.showFor992{
	display: none;
}

@media only screen and (max-width : 992px) {
	.hideFor992{
		display: none !important;
	}
	.showFor992{
		display: block;
	}
	.sHeader{
		position: static;
	}
	.mainContent{
		padding-top: 0px;
	}
	.servicesStrip ul li.mobile-only {display:flex;}

	.mobile-only{display:flex;}

	.sHeaderInner .navbar-collapse>ul.mainNav{
		background: #fff;
		padding: 25px;
		margin-top: 2px;
		box-shadow: 0px 2px 2px 0px rgba(0,0,0, 0.35);
	}
	.sHeaderInner .navbar-collapse>ul.mainNav li a{
		text-align: center;
	}

	.sHeaderInner .navbar-collapse>ul.mainNav .nav-item.nav-itemBtn{
		margin-top: 25px;
	}
	.sHeaderInner .navbar-collapse>ul>li>a{
		font-size: 14px;
		font-weight: 400;
	}
	.sHeaderInner .navbar-collapse ul li a.btn-orange-border{
		font-size: 14px;
	}
	.sHeaderInner .navbar-collapse ul li a.btn-orange-bg{
		font-size: 14px;
	}
	.navbar-toggler{
		margin-right: 15px;
	}
	.sliderText{
		max-width: 390px;
	}
	.sliderText p{
		font-size: 14px;
		line-height: 20px;
	}
	.goFluid992{

		width: 100%;
		max-width: 100%;
		padding:0;
	}

	.servicesStrip ul li a:first-child { border-right:0; border-bottom:1px solid #eee;}

	.servicesStrip ul{
		display: block;
	}
	.servicesStrip ul li{
		width: 50%;
		float: left;
	}
	.servicesStrip ul li a{
		display: block;
	}
	.servicesStrip .sIcon{
		margin: 10px auto;
	}
	.servicesStrip .sService{
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.servicesStrip .sService span{
		display: inline;
	}
	.visionStrip h3 {
		font-size: 1.35em;
	}
	.servicesStrip{
		height: auto;
	}
	.servicesStrip ul li a{
		height: auto;
		padding-bottom: 15px;
	}
	.nav-item.nav-itemBtn{
		padding-left: 15px;
		padding-right: 15px;
	}
	.nav-item.nav-itemBtn a{
		margin: 10px auto;
		max-width: 270px;
		border: 1px solid #fff;
	}
	.nav-item.nav-itemBtn a span{
		margin-right: 5px;
	}


	.promoLeft{
		min-height: 300px;
		height: auto;
	}
	.promoLeft article{
		text-align: center;
		max-width: 380px;
	}
	.promoLeft article span{
		font-size: 30px;
		line-height: 30px;
	}
	.promoLeft article h2{
		font-size: 30px;
		line-height: 30px;
		padding: 0;
		margin: 0;
	}
	.promoRight {
		min-height: 400px;
		height: 400px;
	}
	.homeSocialDiv{
		padding: 15px 15px;
	}
	.pageBanner{
		height: 350px;
	}
	.pageBanner article h2 {
		font-size: 30px;
		line-height: 25px;
		margin: 0 0 0 -10px;

	}
	.pageBanner article small{
		font-size: 14px;
		display: block;
		line-height: 14px;
		/* line-height: 28px; */
		/* padding: 3px; */
	}
	.aboutArticle .articleBody{
		padding: 50px 30px 50px 30px;
	}
	.aboutArticle .articleBody:last-child{
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.aboutPeopleCon{
		text-align: center;
	}
	figure.aboutPeople{
		height: 300px;
		max-width: 320px;
		margin: 0 auto 15px auto;
	}
	h2.mainHeading{
		margin-bottom: 30px;
	}
	.textNormalSmall{
		text-align: justify;
		font-size: 14px !important;
	}
	.activitiesCon .activityLeftCon{
		height: 225px;
		margin-bottom: 5px;
	}
	.activityListCon .activityList li:nth-child(even){
		border-left: 0px;
	}
	.mapCon{
		position: relative;
		overflow: hidden;
		background:#f8f8f8;
	}
	.mapCon img{
		position: absolute;
		height: 100%;
		width: auto;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.goToRound {
		width: 50px;
		height: 50px;
		bottom: -25px;
		font-size: 22px;
	}
	.innerPageBanner {
		height: 300px;
	}
	.innerPageBanner .largeCaption:before, .innerPageBanner .largeCaption:after{
		display: none;
	}
	.innerPageBanner .largeCaptionCon{
		padding-left: 15px;
	}
	.innerPageBanner .bannerCaption{
		margin-left: 15px;
	}
	.innerPageBanner .bannerCaption{
		margin-bottom: 35px;
	}
	.innerPageBanner .largeCaption{
		padding: 2px;
		font-size: 14px;
		line-height: 20px;
	}
	.innerPageBanner article {
		color: #fff;
		max-width: 392px;
	}
	.twinSection .imgCon {
		height: 250px;
	}
	.twinSection .textCon {
		margin-top: 25px;
		height: auto;
		margin-bottom: 45px;
	}
	.navbar-toggler{
		position: relative;
		z-index: 1500;
	}
}



@media only screen and (max-width : 900px) {
	.homeMainSlider{
		height: 300px;
	}
}

@media only screen and (max-width : 767px) {
	.homeMainSlider{
		height: 350px;
		background: #eee;
	}
	.homeMainSlider img{
		display: none;
	}
	.sliderText{
		width: 100%;
		max-width: 100%;
		left: 0;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.sliderText h1 {
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		margin-bottom: 0;
	}
	.sliderText h1 {
		font-size: 34px;
		line-height: 34px;
	}
	.subFiledInput{
		width: 70%;
	}
	.homeSubscribe .subFiled  .subFiledBtn{
		min-width: 80px;
		max-width: 30%;
	}
	.homeSocialDiv{
		height: auto;
		border: none;
	}
	.homeSocialDiv:last-child{
		border: none;
	}
	.aboutArticle .articleBody{
		padding: 50px 15px 50px 15px;
	}
	.articleBody .largeCaptionCon{
		padding-left: 25px;
		padding-right: 25px;
	}
	.articleBody .largeCaptionCon:before{
		top: -10px;
		left: -7px;
	}
	.aboutArticle p{
		text-align: justify;
	}
	.doListCon h3{
		margin-top: 25px;
		text-align: center;
		margin-bottom: 35px;
	}
	.doListCon .borderBottomLeftBold:after {
		left: 50%;
		transform: translatex(-50%);
	}
	.doListCon ul li {
		padding: 0px 5px 0 50px;
	}
	.innerPageBanner article {
		left: 15px;
	}
	.bannerCaption {
		font-size: 21px;
		line-height: 22px;
	}
	.innerPageBanner .bannerCaption {
		margin-bottom: 27px;
	}
	.innerPageBanner .borderBottomLeftBold:after{
		height: 3px;
		bottom: -10px;
	}
	.innerPageBanner .largeCaption {
		font-size: 13px;
	}
	.clients-carousel .item .quoteIcon{
		display: none;
	}

}




@media only screen and (max-width : 550px) {

	.promoLeft article{
		max-width: 280px;
	}
	.homeOffers .nav-tabs, .homeOffers .nav-tabs li{
		min-width: 100%;
		text-align: center;
	}
	.homeOffers .nav-tabs li a{
		display: block;
		width: 100%;
	}
	.pageBanner {
		height: 250px;
	}
	.pageBanner article h2{
		max-width: 290px;
		text-shadow: 2px 2px 2px rgba(0,0,0, 0.35);
	}
	.pageBanner article small {
		font-size: 12px;
		line-height: 18px;
		padding: 2px;
	}
	.articleBody .largeCaption{
		padding: 3px;
		margin-left: 0px;
		font-size: 18px;
		line-height: 34px;
	}
	.mapCon{
		min-height: 180px;
	}
	.contactList ul li{
		text-align: right;
	}
	.contactList ul li a{
		max-width: 100%;
		padding-left: 74px;
	}
	.contactListCount{
		width: 40px;
		height: 50px;
		left: 15px;
	}
	.countBubble{
		line-height: 38px;
		font-size: 16px;
	}
	.doListCon {
		margin-top: 25px;
		margin-left: 25px;
		margin-right: 25px;
	}
	.doListCon ul li a h4 {
		font-size: 1rem;
	}
	.doListCon ul li a span.countDis {
		font-size: 24px;
	}
	.innerPageBanner {
		height: 250px;
	}
	.innerPageBanner article {
		max-width: 280px;
	}
	footer.mainFooter .fSocials .socialIcon {
		margin-left: 15px;
	}
	.subFiledInput {
		width: 60%;
	}
	.homeSubscribe .subFiled .subFiledBtn {
		min-width: 80px;
		max-width: 40%;
	}
	.pageBanner article{
		max-width: 280px;
	}

}








.sidenavToggle{
	display: none;
	border-radius: 2px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0, 0.25);
	font-size: 22px;
	line-height: 26px;
	margin-right: 15px;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
		z-index: 1500;
    background-color: #ff8200;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.mySidenavBg{
		position: absolute;
		background: rgba(0,0,0, 0.75);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}
.sidenav{
	width: 300px;
	left: -300px;
	opacity: 0.5;
	transition: all 0.25s ease;
}
.sidenav.sidebarOpened{
	opacity: 1;
	left: 0;
}
body.sidebar-open{
	overflow: hidden;
	position: relative;
}
body.sidebar-open::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background: rgba(0,0,0, 0.75);
}

.sidenav li a, .sidenav li a:not([href]):not([tabindex]){
	color: #ffffff;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.sidenav .closebtn{
	color: #ffffff;
}


.sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
		width: 40px;
		height: 40px;
		display: block;
		text-align: center;
		line-height: 40px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-width: 991px){
	.sidenavToggle{
		display: inline-block;
	}
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

.contact-form-cover {
    display: inline-block;
    width: 100%;
}

.drop-line-form .success-message {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 25px 0;
}

.drop-line-form .success-message svg {
    width: 55px;
  }

.success-message {
    float: left;
    width: 100%;
    text-align: center;
}
.success-message h2 {
    font-size: 23px;
    color: #333;
    margin: 6px 0 4px 0;
    font-weight: 700;
}
.success-message p {
    font-size: 13px;
    color: #888;
    margin: 0px 0 30px 0;
    letter-spacing: 0;
}
.success-message svg {
    width: 65px;
    display: inline-block;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
  transform:translateZ(0);
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
